<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script>
        function submitForm(){
            var formData = $('#formData').serialize();
            var params = JSON.parse(formToJson(decodeURIComponent(formData, true)))
            $("#checkFormCheckBox").attr('checked', checkForm(params));
        }

        function checkForm(params){
            if(params.jibie==""){
                alert("级别等级")
                return false
            }else if(params.menkan == ""){
                alert("消费额度门槛")
                return false
            }else if(params.bili == ""){
                alert("折扣比例")
                return false
            }
            return true
        }

        function formToJson(data) {
            data = data.replace(/&/g, "\",\"").replace(/=/g, "\":\"").replace(/\+/g, " ").replace(/[\r\n]/g, "<br>");
            data = "{\"" + data + "\"}";
            return data;
        }
    </script>
</head>

<style>
    .tablebox table th, .tablebox table td {
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        background-color: rgba(8, 46, 84, 0.5);
        padding: 12px;
        color:white;
    }
</style>

<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form action="/membership_level/add" id="formData" onsubmit="submitForm()" method="post" align="center">
    <div id="header">
        <div class="header-text">新增等级</div>
    </div>
    <div class="toback">
        <a href="/membership_level/select" title="返回查询">
            <img class="toback_btn" src="../../images/back.png">
        </a>
    </div>
    <div class="tablebox" style="width: 55%;height: 99%; margin:20px auto 0;">
        <table id="tableId" style="width: 99%" border="0" cellspacing="0" cellpadding="0">

            <tr>
                <td><p>级&nbsp&nbsp别&nbsp&nbsp名&nbsp&nbsp称</p></td>
                <td>
                    <input class="form_input" name="jibie" value="{{jibie}}" />
                </td>
            </tr>
            <tr>
                <td><p>消&nbsp费&nbsp额&nbsp度&nbsp门&nbsp槛</p></td>
                <td>
                    <input class="form_input" name="menkan" value="{{menkan}}" />
                </td>
            </tr>
            <tr>
                <td><p>折&nbsp&nbsp扣&nbsp&nbsp比&nbsp&nbsp例</p></td>
                <td>
                    <input class="form_input" name="bili" value="{{bili}}" />
                </td>
            </tr>


            <tr>
                <td colspan="2" align="right">
                    <input class="form_btn" type="submit" value="保存"  />
                </td>
            </tr>
        </table>
        {{msg}}
    </div>
    <input id="checkFormCheckBox" name="checkForm" type="checkbox" checked="" style="display: none"/>
</form>
</body>
<SCRIPT Language=VBScript></SCRIPT>