<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码页面</title>

    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">
        function submitForm(){
            var formData = $('#formData').serialize();
            var params = JSON.parse(formToJson(decodeURIComponent(formData, true)))
            $("#checkFormCheckBox").attr('checked', checkForm(params));
        }

        function checkForm(params){
            var temp = /^\d+(\.\d+)?$/
            if(params.password == ""){
                alert("密码不能为空")
                return false
            }else if(params.uname == ""){
                alert("员工不能为空")
                return false
            }
            return true
        }

        function formToJson(data) {
            data = data.replace(/&/g, "\",\"").replace(/=/g, "\":\"").replace(/\+/g, " ").replace(/[\r\n]/g, "<br>");
            data = "{\"" + data + "\"}";
            return data;
        }
        function run(){
            alert("没有修改权限,需要修改请跟管理员联系，如果您是管理员请到员工信息里修改！！！")
        }
    </script>

</head>
<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">


<form action="/users/password_update" id="formData" onsubmit="return submitForm()" method="post" align="center">

    <div id="header">
        <div class="header-text" >修改密码</div>
<!--        <div class="header-item">-->
<!--            <a style="line-height: 0" class="right" href="/welcome" title="返回首页">-->
<!--                <img class="header-icon" src="../../images/back.png">-->
<!--            </a>-->
<!--        </div>-->
        <div class="toback">
            <a href="/welcome" title="返回首页">
                <img class="toback_btn img-err" src="../../images/back.png">
            </a>
        </div>
    </div>
    <input id="user_id" type="hidden" value="{{datas[0].id}}" name="id">
    <div class="tablebox" style="width: 400px;height: 600px; margin-top:55px;">
        <table  id="tableId" style="width: 400px;" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><p>职位</p></td>
                <td>
                    <input readonly="true" class="form_input" type="text" name="position" value="{{datas[0].position}}" onclick="run()">
                </td>
                <td><p>员工</p></td>
                <td>
                    <input class="form_input" type="text" name="uname" value="{{datas[0].uname}}">
                </td>
            </tr>
            <tr>
                <td><p>账号</p></td>
                <td>
                    <input readonly="true" class="form_input" type="text" name="account" value="{{datas[0].account}}" onclick="run()">
                </td>
                <td><p>密码</p></td>
                <td>
                    <input class="form_input" type="text" name="password" value="{{datas[0].password}}">
                </td>
            </tr>

            <tr>
                <td colspan="2" align="right">
                    <input class="form_btn" type="submit" value="保存" class="anniu" />
                </td>
            </tr>
        </table>
        {{msg}}
    </div>
    <input id="checkFormCheckBox" name="checkForm" type="checkbox" checked="" style="display: none"/>
</form>

</body>
</html>