<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <title>新增页面</title>
</head>

<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<h1 class="sss" align="center">新增员工</h1>
<form action="/users/uadd" method="post" align="center">
    <div class="tablebox" style="width: 400px;height: 600px">
    <table  id="tableId" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>公司名称</td>
            <td>
                <input  name="company"  />
            </td>
        </tr>
        <tr>
            <td>职位</td>
            <td>
                <input  name="position"  />
            </td>
        </tr>
        <tr>
            <td>员工</td>
            <td>
                <input  name="uname"  />
            </td>
        </tr>
        <tr>
            <td>账号</td>
            <td>
                <input  name="account"  />
            </td>
        </tr>
        <tr>
            <td>密码</td>
            <td>
                <input  name="password"  />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="right">
                <input type="submit" value="保存" class="anniu" />
            </td>
        </tr>
    </table>
    </div>
</form>
</body>
<SCRIPT Language=VBScript></SCRIPT>