<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改页面</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
</head>

</body>
<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<h1 class="sss" align="center">员工信息修改</h1>
<form class="tts" action="/users/update" method="post" align="center">
    <input type="hidden" value="{{datas[0].id}}" name="id">
    <div class="tablebox" style="width: 400px;height: 600px">
        <table  id="tableId" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>公司名称</td>
                <td>
                    <input type="text" name="company" value="{{datas[0].company}}">
                </td>
            </tr>
            <tr>
                <td>职位</td>
                <td>
                    <input type="text" name="position" value="{{datas[0].position}}">
                </td>
            </tr>
            <tr>
                <td>员工</td>
                <td>
                    <input type="text" name="uname" value="{{datas[0].uname}}">
                </td>
            </tr>
            <tr>
                <td>账号</td>
                <td>
                    <input type="text" name="account" value="{{datas[0].account}}">
                </td>
            </tr>
            <tr>
                <td>密码</td>
                <td>
                    <input type="text" name="password" value="{{datas[0].password}}">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    <input type="submit" value="保存" class="anniu" />
                </td>
            </tr>
        </table>
    </div>
</form>

</body>
<SCRIPT Language=VBScript></SCRIPT>