<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/table.css"/>
    <script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
    <script>
        function submitForm(){
            var formData = $('#formData').serialize();
            var params = JSON.parse(formToJson(decodeURIComponent(formData, true)))
            $("#checkFormCheckBox").attr('checked', checkForm(params));
        }

        function checkForm(params){
            var temp = /^\d+(\.\d+)?$/
            if(params.recipient==""){
                alert("收卡人不能为空")
                return false
            }else if(params.cardholder == ""){
                alert("付款人不能为空")
                return false
            }else if(params.drawee == ""){
                alert("持卡人不能为空")
                return false
            }else if(params.issuing_bank == ""){
                alert("发卡行不能为空")
                return false
            }else if(params.bill_day=="" ){
                alert("账单日不能为空")
                return false
            }else if(params.repayment_date == ""){
                alert("还款日不能为空")
                return false
            }else if(params.total == ""){
                alert("总金额不能为空")
                return false
            }else if(params.repayable == ""){
                alert("应还款不能为空")
                return false
            }else if(params.balance == ""){
                alert("余款额不能为空")
                return false
            }else if(params.loan == ""){
                alert("借款额不能为空")
                return false
            }else if(params.service_charge == ""){
                alert("手续费不能为空")
                return false
            }else if(temp.test(params.total) == false){
                alert("总金额输入有误")
                return false
            }else if(temp.test(params.repayable) == false){
                alert("应还款输入有误")
                return false
            }else if(temp.test(params.balance) == false){
                alert("余款额输入有误")
                return false
            }else if(temp.test(params.loan) == false){
                alert("借款额输入有误")
                return false
            }else if(temp.test(params.service_charge) == false){
                alert("手续费输入有误")
                return false
            }
            return true
        }

        function formToJson(data) {
            data = data.replace(/&/g, "\",\"").replace(/=/g, "\":\"").replace(/\+/g, " ").replace(/[\r\n]/g, "<br>");
            data = "{\"" + data + "\"}";
            return data;
        }
    </script>
</head>
<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form  action="/customer/add" id="formData" onsubmit="submitForm()" method="post" align="center">
    <div id="header">
        <div class="header-text">客户信息录入</div>
    </div>
    <div class="toback">
        <a href="/customer/select" title="返回查询">
            <img class="toback_btn" src="../../images/back.png">
        </a>
    </div>
    <div class="tablebox" style="width: 100%;height: 480px; margin-top:40px;">
        <table id="tableId" style="width: 80%;margin: 0 auto" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><p>收&nbsp;卡&nbsp;人</p></td>
                <td>
                    <input class="form_input" type="text" name="recipient">
                </td>
                <td><p>付&nbsp;款&nbsp;人</p></td>
                <td>
                    <input class="form_input" type="text" name="cardholder" >
                </td>
            </tr>
            <tr>
                <td><p>持&nbsp;卡&nbsp;人</p></td>
                <td>
                    <input class="form_input" type="text" name="drawee" >
                </td>
                <td><p>发&nbsp;卡&nbsp;行</p></td>
                <td>
                    <input class="form_input" type="text" name="issuing_bank" >
                </td>
            </tr>
            <tr>
                <td><p>账&nbsp;单&nbsp;日</p></td>
                <td>
                    <input class="form_input" type="date" name="bill_day"/>
                </td>
                <td><p>还&nbsp;款&nbsp;日</p></td>
                <td>
                    <input class="form_input" type="date" name="repayment_date"/>
                </td>
            </tr>
            <tr>
                <td><p>总&nbsp;金&nbsp;额</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="total"/>

                </td>
                <td><p>应&nbsp;还&nbsp;款</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="repayable"/>
                </td>
            </tr>
            <tr>
                <td><p>余&nbsp;款&nbsp;额</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="balance"/>
                </td>
                <td><p>借&nbsp;款&nbsp;额</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="loan"/>
                </td>
            </tr>
            <tr>
                <td><p>手&nbsp;续&nbsp;费</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="service_charge"/>
                </td>
                <td><p>电&nbsp;话&nbsp;号</p></td>
                <td>
                    <input class="form_input" type="number" autocomplete="off" name="telephone" >
                </td>
            </tr>
            <tr>
                <td><p>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</p></td>
                <td>
                    <input class="form_input" type="text" autocomplete="off" name="password" >
                </td>
                <td><p>员&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工</p></td>
                <td>
                    <input class="form_input" type="text" autocomplete="off" name="staff" >
                </td>
            </tr>
            <tr>
                <td colspan="4" >
                    <input class="form_btn" type="submit" value="保存" class="anniu" align="right" />
                </td>
            </tr>

        </table>
    </div>
    <input id="checkFormCheckBox" name="checkForm" type="checkbox" checked="" style="display: none"/>
</form>
</body>
<SCRIPT Language=VBScript></SCRIPT>