<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/table.css"/>
</head>
<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<h1 class="sss" align="center">客户信息录入</h1>
<form class="tts" action="/customer/add" method="post" align="center">
    <div class="tablebox" style="width: 600px;height: 600px">
        <table  id="tableId" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>收卡人</td>
                <td>
                    <input type="text" name="recipient">
                </td>
                <td>付款人</td>
                <td>
                    <input type="text" name="cardholder" >
                </td>
            </tr>
            <tr>
                <td>持卡人</td>
                <td>
                    <input type="text" name="drawee" >
                </td>
                <td>发卡行</td>
                <td>
                    <input type="text" name="issuing_bank" >
                </td>
            </tr>
            <tr>
                <td>账单日</td>
                <td>
                    <input type="text" name="bill_day" >
                </td>
                <td>还款日</td>
                <td>
                    <input type="text" name="repayment_date" >
                </td>
            </tr>
            <tr>
                <td>总金额</td>
                <td>
                    <input type="text" name="total" >
                </td>
                <td>应还款</td>
                <td>
                    <input type="text" name="repayable" >
                </td>
            </tr>
            <tr>
                <td>余款额</td>
                <td>
                    <input type="text" name="balance" >
                </td>
                <td>借款额</td>
                <td>
                    <input type="text" name="loan" >
                </td>
            </tr>
            <tr>
                <td>手续费</td>
                <td>
                    <input type="text" name="service_charge" >
                </td>
                <td>电话号</td>
                <td>
                    <input type="text" name="telephone" >
                </td>
            </tr>
            <tr>
                <td>密&nbsp;&nbsp;&nbsp;码</td>
                <td>
                    <input type="text" name="password" >
                </td>
                <td>员&nbsp;&nbsp;&nbsp;工</td>
                <td>
                    <input type="text" name="staff" >
                </td>
            </tr>
            <tr>
                <td colspan="4" align="right">
                    <input type="submit" value="保存" class="anniu" />
                </td>
            </tr>
        </table>
    </div>
</form>
</body>
<SCRIPT Language=VBScript></SCRIPT>