<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/table.css"/>
    <script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
    <script>

        function submitForm(){
            var formData = $('#formData').serialize();
            var params = JSON.parse(formToJson(decodeURIComponent(formData, true)))
            $("#checkFormCheckBox").attr('checked', checkForm(params));
        }

        function checkForm(params){
            if(params.bill_day==""){
                alert("账单日不能为空")
                return false
            }else if(params.repayment_date == ""){
                alert("还款日不能为空")
                return false
            }else if(params.total == ""){
                alert("总金额不能为空")
                return false
            }else if(params.repayable == ""){
                alert("应还款不能为空")
                return false
            }else if(params.balance == ""){
                alert("余款额不能为空")
                return false
            }else if(params.loan == ""){
                alert("借款额不能为空")
                return false
            }else if(params.service_charge == ""){
                alert("手续费不能为空")
                return false
            }
            return true
        }

        function formToJson(data) {
            data = data.replace(/&/g, "\",\"").replace(/=/g, "\":\"").replace(/\+/g, " ").replace(/[\r\n]/g, "<br>");
            data = "{\"" + data + "\"}";
            return data;
        }
    </script>
</head>
<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form  class="tts" action="/customer/add" id="formData" onsubmit="submitForm()" method="post" align="center">
    <div id="header">
        <div class="logo">客户信息录入</div>
        <div class="navigation">
            <ul>
                <li><a href="/customer/select">返回查询</a></li>
            </ul>
        </div>
    </div>
    <div class="tablebox" style="width: 100%;height: 480px; margin-top:80px;">
        <table  id="tableId" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>收卡人</td>
                <td>
                    <input type="text" name="recipient">
                </td>
                <td>付款人</td>
                <td>
                    <input type="text" name="cardholder" >
                </td>
            </tr>
            <tr>
                <td>持卡人</td>
                <td>
                    <input type="text" name="drawee" >
                </td>
                <td>发卡行</td>
                <td>
                    <input type="text" name="issuing_bank" >
                </td>
            </tr>
            <tr>
                <td>账单日</td>
                <td>
                    <input type="date" name="bill_day"/>
                </td>
                <td>还款日</td>
                <td>
                    <input type="date" name="repayment_date"/>
                </td>
            </tr>
            <tr>
                <td>总金额</td>
                <td>
                    <input type="number" step="0.01" name="total"/>

                </td>
                <td>应还款</td>
                <td>
                    <input type="number" step="0.01" name="repayable"/>
                </td>
            </tr>
            <tr>
                <td>余款额</td>
                <td>
                    <input type="number" step="0.01" name="balance"/>
                </td>
                <td>借款额</td>
                <td>
                    <input type="number" step="0.01" name="loan"/>
                </td>
            </tr>
            <tr>
                <td>手续费</td>
                <td>
                    <input type="number" step="0.01" name="service_charge"/>
                </td>
                <td>电话号</td>
                <td>
                    <input type="number" autocomplete="off" name="telephone" >
                </td>
            </tr>
            <tr>
                <td>密&nbsp;&nbsp;&nbsp;码</td>
                <td>
                    <input type="text" autocomplete="off" name="password" >
                </td>
                <td>员&nbsp;&nbsp;&nbsp;工</td>
                <td>
                    <input type="text" autocomplete="off" name="staff" >
                </td>
            </tr>
            <tr>
                <td colspan="4" >
                    <input type="submit" value="保存" class="anniu" align="right" />
                </td>
            </tr>

        </table>
    </div>
    <input id="checkFormCheckBox" name="checkForm" type="checkbox" checked="" style="display: none"/>
</form>
</body>
<SCRIPT Language=VBScript></SCRIPT>