<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>云合智慧门店收银系统</h3>
    <h4>公司简介</h4>
    <hr/>
    <p>云合未来计算机技术有限公司是一家面向全球客户提供领先的应用软件产品、信息服务及行业解决方案的IT企业</p>
    <P>公司把握前沿技术，在财务自动化工具，桌面仿人工RPA，移动互联、电子商务、云计算、大数据、物联网等领域自主研发了多项技术解决方案</P>

    <h4>系统简介</h4>
    <hr/>
    <p>一、客户信息：对新老客户信息维护</p>
    <p>二、日交易记录：查看客户的日交易记录信息</p>
    <p>三、月交易记录：查看客户的月交易记录信息</p>
    <p>四、统计交易总额：对所有交易信息汇总</p>
    <p>五、员工信息：对员工信息的维护</p>
    <hr/>
    <p>Copyright © 2020 All Rights Reserved 云合未来计算机技术有限公司版权所有.</p>
</body>
</html>