<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>客户信息</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/table.css"/>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/jquery-confirm.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-confirm.js"></script>

</head>
<body background="../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form action="/customer/ass" method="post">
    <div id="header">
        <div class="logo">客户信息</div>
        <div class="navigation">
            <ul>
                <li><a href="/customer/add">录入信息</a></li>
                <li><a href="/customer/select">返回查询</a></li>
            </ul>
        </div>
    </div>

    <div class="tablebox" style="width: 2000px;height: 390px" >
     <table  id="tableId" border="0" cellspacing="0" cellpadding="0">
         <tr align="center">
            <th>序号</th>
            <th>收卡人</th>
            <th>付款人</th>
            <th>持卡人</th>
            <th>发卡行</th>
            <th>账单日</th>
            <th>还款日</th>
            <th>总金额</th>
            <th>应还款</th>
            <th>剩余额</th>
            <th>借款额</th>
            <th>手续费</th>
            <th>电话号</th>
            <th>密码</th>
            <th>员工</th>
            <th>查看功能</th>
            <th>删除功能</th>
            <th>修改功能</th>
        </tr>
        {% for item in datas %}
        <tr align="center">
            <td>{{item.id}}</td>
            <td>{{item.recipient}}</td>
            <td>{{item.cardholder}}</td>
            <td>{{item.drawee}}</td>
            <td>{{item.issuing_bank}}</td>
            <td>{{item.bill_day}}</td>
            <td>{{item.repayment_date}}</td>
            <td>{{item.total}}</td>
            <td>{{item.repayable}}</td>
            <td>{{item.balance}}</td>
            <td>{{item.loan}}</td>
            <td>{{item.service_charge}}</td>
            <td>{{item.telephone}}</td>
            <td>{{item.password}}</td>
            <td>{{item.staff}}</td>
            <td><a href="/day_trading/select_day/{{item.id}}">查看</a></td>
            <td><a href="#" onclick="queren({{item.id}})">删除</a></td>
            <td><a href="/customer/toUpdate/{{item.id}}">修改</a></td>
        </tr>
        {% endfor %}
    </table>
        <div style="width: 40%;float: left;">
            第<span class="cont-page">&nbsp;{{pagenum }}&nbsp;</span>页 / 共{{pagecounts }}页 / 共{{rowcounts }}条
        </div>
        <div style="width: 60%;float: left;">
            <a href="/customer/ass?pagenum=1">◀◀</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/customer/ass?pagenum={{pagenum-1}}">◀</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/customer/ass?pagenum={{pagenum+1}}">▶</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/customer/ass?pagenum={{pagecounts}}">▶▶</a>
        </div>
    </div>
</form>


</body>
<script>
    function queren(id){
        $.confirm({
            title: '提示!',
            content: '您确认要删除本记录吗？',
            buttons: {
                确定: function () {
                    window.location.href = "/customer/del/" + id
                },
                取消: function () {
                },
            }
        });
    }
</script>
<SCRIPT Language=VBScript></SCRIPT>