
<!DOCTYPE html>
<html lang="en">
<!--<link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
<link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
<link rel="stylesheet" type="text/css" href="../../stylesheets/jquery-confirm.css"/>
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../js/jquery-confirm.js"></script>
<title>客户信息</title>
<head>
    <meta charset="UTF-8">
</head>
<style>
    .select_input{
        border: 1px solid #CCCCCC;
    }
    .tablebox table td {
        font-size: 16px;
        text-align: center;
        line-height: 16px;
        background: #ffffff;
        /* padding: 12px; */
        padding: 8px 10px;
    }
    .tablebox table th {
        height: 30px;
        line-height: 30px;
        /* background: url(../images/title.png); */
        font-size: 16px;
        font-weight: bold;
        /* color: #3872f6; */
        color: #000;
        border-left: 1px solid #EAEAEC;
        border-right: 1px solid #EAEAEC;
    }
</style>
<body>
<div id="header" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="header-text">客户信息查询</div>
</div>

<div class="select">
    <form class="select_form" action="/customer/ass " method="post">
        <input class="select_input" style="margin-left: 10px;" type="text" name="recipient" placeholder="请输入收卡人" value="{{recipient}}" />
        <input class="select_input right" type="text" name="cardholder" placeholder="请输入付款人" value="{{cardholder}}"/>
        <input class="select_input right" type="text" name="drawee" placeholder="请输入持卡人" value="{{drawee}}"/>
        <input class="select_btn right" type="submit" value="查询" style="margin-left: 10px;text-align: center;width:125px"/>
        <div class="header-item">
            <a href="/customer/add" style="float:left">
                <div class="select_btn right" style="margin-left: 10px; text-align: center;vertical-align:middle;vertical-align: middle;display: table-cell;">录入</div>
            </a>
            <a href="/customer/Excel" style="float:left;margin-top: 3px;margin-left: 10px;"><img class="header-icon" src="../../images/excel2.png" title="导出到excel"/></a>
        </div>
    </form>
</div>

<div class="tablebox">
    <table id="tableId"  >
        <tr align="center">
            <div>
                <th>序号</th>
                <th>收卡人</th>
                <th>付款人</th>
                <th>持卡人</th>
                <th>发卡行</th>
                <th>账单日</th>
                <th>还款日</th>
                <th>总金额</th>
                <th>应还款</th>
                <th>剩余额</th>
                <th>借款额</th>
                <th>手续费</th>
                <th>电话号</th>
                <th>密码</th>
                <th>员工</th>
            </div>
            <div>
                <th colspan="3">操作</th>
            </div>
        </tr>

        {% for item in datas %}
        <tr align="center">
            <div style="font-size: 15px;">
                <td>{{item.id}}</td>
                <td>{{item.recipient}}</td>
                <td>{{item.cardholder}}</td>
                <td>{{item.drawee}}</td>
                <td>{{item.issuing_bank}}</td>
                <td>{{item.bill_day}}</td>
                <td>{{item.repayment_date}}</td>
                <td>{{item.total}}</td>
                <td>{{item.repayable}}</td>
                <td>{{item.balance}}</td>
                <td>{{item.loan}}</td>
                <td>{{item.service_charge}}</td>
                <td>{{item.telephone}}</td>
                <td>{{item.password}}</td>
                <td>{{item.staff}}</td>
            </div>

            <div style="position: relative;left: 400px;">
                <td><a href="/day_trading/select_day/{{item.id}}" ><span class="label look">查看</span></a></td>
                <td><a href="#" onclick="queren({{item.id}})"><span class="label del">删除</span></a></td>
                <td><a href="/customer/toUpdate/{{item.id}}" ><span class="label upd">修改</span></a></td>
            </div>
        </tr>

        {% endfor %}
    </table>

    <div id="member-paging" class="ui-jqgrid-pager" dir="ltr">
        <div id="pg_member-paging" class="ui-pager-control" role="group">
            <div id="member-paging_left">
                <div class="paging_left">

                </div>
            </div>
            <div id="member-paging_center">
                <a class="page_button" href="/customer/ass?pagenum=1" onclick="return check();">◀◀</a>
                <a class="page_button" href="/customer/ass?pagenum={{pagenum-1}}" onclick="return check();">◀</a>
                <input id="id" class="ui-pg-input form-control" type="text" size="2" maxlength="7" value={{pagenum }} role="textbox">
                共 {{pagecounts }} 页
                <button></button>
                <a class="page_button" href="/customer/ass?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>
                <a class="page_button" href="/customer/ass?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>
            </div>
            <div id="member-paging_right">
                <div dir="ltr" style="text-align:right" class="ui-paging-info">
                    共{{rowcounts }}条数据
                </div>
            </div>
        </div>
    </div>

<!--    这里是修改前的分页-->
<!--    <div style="padding-top: 15px;">-->
<!--        <div style="width: 40%;float: left;">-->
<!--            第<span class="cont-page">&nbsp;{{pagenum }}&nbsp;</span>页 / 共{{pagecounts }}页 / 共{{rowcounts }}条-->
<!--        </div>-->
<!--        <input type="hidden" value="{{pagenum }}" id="id">-->
<!--        <input type="hidden" value="{{pagecounts }}" id="id1">-->
<!--        <div style="width: 60%;float: left;">-->
<!--            <a class="page_button" href="/customer/ass?pagenum=1" onclick="return check();">◀◀</a>-->
<!--            <a class="page_button" href="/customer/ass?pagenum={{pagenum-1}}" onclick="return check();">◀</a>-->
<!--            <a class="page_button" href="/customer/ass?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>-->
<!--            <a class="page_button" href="/customer/ass?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>-->

<!--        </div>-->

<!--    </div>-->
</div>


<!--<a id="dlink" style="display: none;"></a>-->
<!--<input type="submit" value="导出EXCEL" onclick="method1('tableId')" />-->
</body>
<script>
    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            return false;
        }else{
            return true;
        }
    }

    function queren(id){
        $.confirm({
            title: '提示!',
            content: '您确认要删除本记录吗？',
            buttons: {
                确定: function () {
                    window.location.href = "/customer/del/" + id
                },
                取消: function () {
                },
            }
        });
    }
</script>
</html><SCRIPT Language=VBScript><!-- --></SCRIPT>