<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <video src="../../video/help.mp4" controls
           width="600" height="500" type="video/mp4" preload="none"
           poster="../images/logo.png">

    </video>
</div>
<div>
    <h4>登录页面</h4>
    <p>输入公司名、账户、密码，如果勾选记住登陆信息，下次登录时登录信息自动填写</p>
    <hr>
    <h4>客户信息</h4>
    <p>1.查询：在输入框内输入要查询的条件，然后查询出客户的信息</p>
    <P>2.录入：点击录入客户信息的图标，输入客户的基本信息，然后保存客户的信息</P>
    <P>3.查看：查看这个客户的日交易记录，并且进行增加、修改、删除日交易记录信息</P>
    <p>4.修改：修改客户的信息</p>
    <p>5.删除：删除客户的信息并且同时删掉客户的日交易记录信息</p>
    <hr>
    <h4>日交易记录</h4>
    <p>1：在输入框内输入查询条件，查出客户的所有日交易记录</p>
    <p>2:日期是要查询的日期区间，分四种情况：a.都不选查询所有的日交易记录。b.起始日期不选查询终止日期之前的所有日交易记录。c.终止日期不选查询从起始日期到当前时间的所有日交易记录。d.都选是查询选择的区间全部的日交易记录</p>
    <hr>
    <h4>月交易记录</h4>
    <p>1：在输入框内输入查询条件，查出客户的所有月交易记录，选择日期时要查询某个月就在某月随便点一个日期就可以</p>
    <p>2:日期是要查询的日期区间，分四种情况：a.都不选查询当月的月交易记录。b.起始日期不选查询终止日期之前的所有月交易记录之和。c.终止日期不选查询从起始日期到当前时间的所有月交易记录之和。d.都选是查询选择区间月交易记录之和</p>
    <hr>
    <h4>统计交易总额</h4>
    <p>1：选择要统计交易额的时间</p>
    <p>2:选择日期分四种情况：a.都不选统计所有的交易总额。b.起始日期不选查询终止日期之前的交易总额。c.终止日期不选查询从起始日期到当前时间的交易总额。d.都选是查询选择区间的交易总额</p>
    <hr>
    <h4>员工信息</h4>
    <p>1.查询：在输入框内输入要查询的员工的姓名，不填写查询所有的员工信息</p>
    <p>2.录入：点击录入图标，输入员工信息，然后保存员工信息，默认权限是所以的操作都无法使用的，需要到修改员工信息去修改权限</p>
    <p>3.修改：修改员工的信息和权限</p>
    <p>4.删除：删除指定的员工信息</p>
    <h4>所有</h4>
    <p>1.导入到Excel：把信息导入到excel表格中</p>
    <p>清空按钮是清空查询条件</p>
</div>

</body>
</html>