<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <video src="../../video/门店收银-中质量.mp4" controls
           width="600" height="500" type="video/mp4" preload="none"
           poster="../images/logo.png">
    </video>
</div>
<div>
    <h4>登录页面</h4>
    <p>输入公司名、账户、密码即可登录; 若勾选记住登陆信息，下次登录时登录信息会自动填写。</p>
    <hr>
    <h4>客户信息</h4>
    <p>1.查询：根据输入框的提示信息输入相应收卡人、付款人、持卡人其中一项或多项的信息，即可查询出对应客户的信息。</p>
    <P>2.录入：点击“录入“按钮，输入客户的基本信息，然后保存客户的信息。</P>
    <P>3.查看：查看该客户的日交易记录信息，并且可以对记录信息进行增加、修改、删除操作。</P>
    <p>4.修改：您可以修改该客户的任意一项信息，避免录入时操作失误导致信息不正确。</p>
    <p>5.删除：删除客户的信息并且同时删掉客户的日交易记录信息。</p>
    <hr>
    <h4>日交易记录</h4>
    <p>1：在输入框内输入收卡人、付款人、持卡人等其中一项或多项查询条件，即可查出客户的所有日交易记录。</p>
    <p>2:日期是要查询的日期区间，分四种情况：</p>
    <p>a.初始日期：默认获取当日的日交易记录。</p>
    <p>b.只设置起始日期：获取起始日期到当前日期的日交易记录。</p>
    <p>c.只设置终止日期：获取当前日期到终止日期的日交易记录。</p>
    <p>d.即填写了起始日期也填写了终止日期：获取起始日期到终止日期的日交易记录</p>
    <hr>
    <h4>月交易记录</h4>
    <p>1：在输入框内输入收卡人、付款人、持卡人等其中一项或多项查询条件，即可查出客户的所有月交易记录。</p>
    <p>2:日期是要查询的日期区间，分四种情况：</p>
    <p>a.初始日期：默认获取当月的月交易记录。</p>
    <p>b.只设置起始日期：获取起始日期到当前日期的月交易记录。</p>
    <p>c.只设置终止日期：获取当前日期到终止日期的月交易记录。</p>
    <p>d.即填写了起始日期也填写了终止日期：获取起始日期到终止日期的月交易记录</p>
    <hr>
    <h4>交易总额</h4>
    <p>1：选择要统计交易额的起始日期和终止日期。</p>
    <p>2:日期是要查询的日期区间，分四种情况：</p>
    <p>a.初始日期：默认获取所有交易记录。</p>
    <p>b.只设置起始日期：获取起始日期到当前日期的所有交易记录。</p>
    <p>c.只设置终止日期：获取终止日期之前的所有交易记录。</p>
    <p>d.即填写了起始日期也填写了终止日期：获取起始日期到终止日期的所有交易记录。</p>
    <hr>
    <h4>员工信息</h4>
    <p>1.查询：根据输入框的提示信息输入相应员工姓名、员工岗位、员工账号其中一项或多项的信息，即可查询出对应员工的信息。</p>
    <p>2.录入：点击“录入“按钮，输入客户的基本信息，然后保存客户的信息;默认权限是所有的操作都无法使用的，需要到修改员工信息去修改权限。</p>
    <p>3.修改：修改员工的信息和权限，避免录入时操作失误导致信息不正确。</p>
    <p>4.删除：删除指定的员工信息。</p>
    <hr>
    <h4>商品设置</h4>
    <p>1.查询：根据输入框的提示信息输入相应商品名称、商品类别其中一项或多项的信息，即可查询出对应商品的信息。</p>
    <p>2.录入：点击“录入“按钮，输入商品的基本信息，然后保存商品的信息;默认权限是所有的操作都无法使用的，需要到修改员工信息去修改权限。</p>
    <p>3.修改：修改商品的信息，避免录入时操作失误导致信息不正确。</p>
    <p>4.删除：删除指定的商品信息。</p>
    <hr>
    <h4>会员管理</h4>
    <p>1.查询：根据输入框的提示信息输入相应会员姓名、会员电话其中一项或多项的信息，即可查询出对应会员的信息。</p>
    <p>2.录入：点击“录入“按钮，输入会员的基本信息，然后保存会员的信息;默认权限是所有的操作都无法使用的，需要到修改员工信息去修改权限。</p>
    <p>3.修改：修改会员的信息，避免录入时操作失误导致信息不正确。</p>
    <p>4.删除：删除指定的会员信息。</p>
    <hr>
    <h4>会员等级</h4>
    <p>1.查询：根据输入框的提示信息输入相应会员级别的信息，即可查询出会员级别的分类及优惠。</p>
    <p>2.录入：点击“录入“按钮，输入会员等级的基本信息，然后保存会员等级的信息;默认权限是所有的操作都无法使用的，需要到修改员工信息去修改权限。</p>
    <p>3.修改：修改会员等级的信息，避免录入时操作失误导致信息不正确。</p>
    <p>4.删除：删除指定的会员等级信息。</p>
    <hr>
    <h4>点单面板</h4>
    <p>1.左侧购物车：</p>
    <p>a.默认自动生成最新的单号;</p>
    <p>b.点击商品添加进入购物车，可以点击商品实现指定商品数量的增减操作;
    <p>d.合计数量：显示当前购物车内的商品数量;</p>
    <p>e.合计金额：显示当前购物车内商品的总计金额;</p>
    <p>e.作废：清空当前购物车内的商品;</p>
    <p>e.结账：计算商品总额及折扣，并根据会员账号进行结账以及积分录入;</p>
    </p>
    <p>2.右侧商品选购区：</p>
    <p>a.点击上方商品类别导航栏即可查看对应类型的商品;</p>
    <p>b.点击商品，选择相应的规格即可添加至左侧购物车内;</p>
    <hr>
    <h4>订单信息</h4>
    <p>1：在输入框内输入订单号、收银员、会员姓名等其中一项或多项查询条件，即可查出对应的所有订单信息。</p>
    <p>2:日期是要查询的日期区间，分四种情况：</p>
    <p>a.初始日期：默认获取全部的订单信息。</p>
    <p>b.只设置起始日期：获取起始日期到当前日期的订单信息。</p>
    <p>c.只设置终止日期：获取终止日期之前的所有订单信息。</p>
    <p>d.即填写了起始日期也填写了终止日期：获取起始日期到终止日期的订单信息</p>
    <p>3.查看：查看该订单信息。</p>
    <p>4.修改：修改订单的信息，避免录入时操作失误导致信息不正确。</p>
    <p>5.删除：删除指定的订单信息。</p>
    <hr>
    <h4>统计报表</h4>
    <p>1:日期是要查询的日期区间，分四种情况：</p>
    <p>a.初始日期：默认获取当月的统计报表。</p>
    <p>b.只设置起始日期：获取起始日期到当前日期的统计报表。</p>
    <p>c.只设置终止日期：获当前日期到终止日期的统计报表。</p>
    <p>d.即填写了起始日期也填写了终止日期：获取起始日期到终止日期的统计报表</p>
    <p>2.点单收入汇总：查看日期内点单收入汇总信息。</p>
    <hr>
    <h4>所有</h4>
    <p>1.导入到Excel：把信息导入到excel表格中</p>
    <p>清空按钮是清空查询条件</p>
</div>

</body>
</html>