<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>

</head>
<body >

<div id="wrapper">
    <div class="header" action="/">
        <div class="logo"><h1 class="sss" align="center">云合智慧门店收银系统</h1></div>
        <input type="hidden" value="{{datas[0].id}}" name="id">
        <div class="nav" align="center" style="font-size: 20px">
            <a class="index" href="/" target="_blank" >首页</a>
            <a class="custom" href="/customer/ass"style="margin-left:50px">客户信息</a>
            <a class="day_trading" style="margin-left:50px">日交易记录</a>
            <a class="month_trading" href="/month_trading/ass" style="margin-left:50px">月交易记录</a>
            <a class="statistics" href="/statistics/ass"style="margin-left:50px">统计交易总额</a>
            <a class="staff" href="/users/ass"  style="margin-left:50px">员工信息</a>
        </div>

    </div>
    <div class="main">
			<span>
				<h3 style="margin-left:50px"style="float: right">云合智慧门店收银系统</h3>
			</span>
        <img src="../images/logo.png" height="500px" width="1000px" style="float: right"/>
        <p style="margin-left:50px">
            云合信用卡管理软件，是由多位资深信用卡产业链相关人士与我司顶尖技术团队共同研发的一款具有划时代意义的管理软件，它能合理安排卡帐期。
        </p>
        <p style="margin-left:50px">
            从而促使卡从粗放式消费推进到精细管理阶段，并且缩短了从业人员操作时间，同时适合傻瓜式的操作，让您一步从菜鸟飞到高手。
        </p>

        <span>
				<img src="../images/zhangdan.png" style="margin-left:50px;float: left"/>
				<h3 style="margin-left:50px"style="float: right">账单管理</h3>
			</span>

        <p style="margin-left:50px">
            账目清晰、多卡管理、到期提醒
        </p>
        <div id="pics">
            <!-- <img src="./img/17.jpg" /> -->
        </div>

    </div>
    <div class="footer"></div>
</div>
</body>
<SCRIPT Language=VBScript></SCRIPT>