<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理</title>
    <!--    <link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
</head>
<body >
<div id="header">
    <div class="header-text">会员管理</div>
</div>
<div class="select">
    <form class="select_form" action="/member_info/ass" method="post">
        <input class="select_input" type="text" name="name" placeholder="请输入会员姓名" value="{{name}}" />
        <input class="select_btn right" type="submit" value="查询" style="margin-left: 10px"/>

        <div class="header-item">
            <a href="/member_info/add" style="float:left">
                <input class="select_btn right btn_err" type="button" value="录入"/>
            </a>
            <a href="/member_info/Excel" style="float:left;margin-left: 10px;margin-top: 3px"><img class="header-icon" src="../../images/excel2.png" title="导出到excel"/></a>
        </div>
    </form>
</div>
<div class="tablebox">
    <table  id="tableId">
        <tr align="center">
            <th>序号</th>
            <th>账号</th>
            <th>密码</th>
            <th>姓名</th>
            <th>性别</th>
            <th>账号状态</th>
            <th>电话号</th>
            <th>生日</th>
            <div>
                <th colspan="2">操作</th>
            </div>
        </tr>
        {% for item in datas %}
        <tr align="center">
            <td >{{item.id}}</td>
            <td >{{item.username}}</td>
            <td >{{item.password}}</td>
            <td >{{item.name}}</td>
            <td >{{item.gender}}</td>
            <td >{{item.state}}</td>
            <td >{{item.phone}}</td>
            <td >{{item.birthday}}</td>
            <td style="width: 60px"><a href="/member_info/del/{{item.id}}" onclick="return confirm('您确认要删除本记录么？')"><span class="label del">删除</span></a></td>
            <td style="width: 60px"><a href="/member_info/toUpdate/{{item.id}}"><span class="label upd">修改</span></a></td>
        </tr>
        {% endfor %}
    </table>
    <div id="member-paging" class="ui-jqgrid-pager" dir="ltr">
        <div id="pg_member-paging" class="ui-pager-control" role="group">
            <div id="member-paging_left">
                <div class="paging_left">

                </div>
            </div>
            <div id="member-paging_center">
                <a class="page_button" href="/member_info/ass?pagenum=1" onclick="return check();">◀◀</a>
                <a class="page_button" href="/member_info/ass?pagenum={{pagenum-1}}" onclick="return check();">◀</a>
                <input id="id" class="ui-pg-input form-control" type="text" size="2" maxlength="7" value={{pagenum }} role="textbox">
                共 {{pagecounts }} 页
                <a class="page_button" href="/member_info/ass?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>
                <a class="page_button" href="/member_info/ass?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>
            </div>
            <div id="member-paging_right">
                <div dir="ltr" style="text-align:right" class="ui-paging-info">
                    共{{rowcounts }}条数据
                </div>
            </div>
        </div>
    </div>

</div>


</body>
<script>
    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            alert("当前是第一页")
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            alert("当前是最后一页")
            return false;
        }else{
            return true;
        }
    }
</script>
</html>
<SCRIPT Language=VBScript></SCRIPT>