<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员等级</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
</head>
<body>
<div id="header">
    <div class="header-text">会员等级</div>
</div>
<div class="select">
    <form class="select_form" action="/membership_level/ass" method="post">
        <input class="select_input" type="text" name="jibie" placeholder="请输入会员级别" value="{{jibie}}" />
        <input class="select_btn right" type="submit" value="查询" style="margin-left: 10px"/>

        <div class="header-item">
            <a href="/membership_level/add" style="float:left">
                <input class="select_btn right btn_err" type="button" value="录入"/>
            </a>

        </div>
    </form>
</div>
<div class="tablebox">
    <table  id="tableId">
        <tr align="center">
            <th >序号</th>
            <th >级别名称</th>
            <th >消费额度门槛</th>
            <th >折扣比例</th>
            <div>
                <th colspan="2">操作</th>
            </div>
        </tr>
        {% for item in datas %}
        <tr align="center">
            <td >{{item.id}}</td>
            <td >{{item.jibie}}</td>
            <td >{{item.menkan}}</td>
            <td >{{item.bili}}</td>
            <td style="width: 60px"><a href="/membership_level/del/{{item.id}}" onclick="return confirm('您确认要删除本记录么？')"><span class="label del">删除</span></a></td>
            <td style="width: 60px"><a href="/membership_level/toUpdate/{{item.id}}"><span class="label upd">修改</span></a></td>
        </tr>
        {% endfor %}
    </table>
    <div id="member-paging" class="ui-jqgrid-pager" dir="ltr">
        <div id="pg_member-paging" class="ui-pager-control" role="group">
            <div id="member-paging_left">
                <div class="paging_left">

                </div>
            </div>
            <div id="member-paging_center">
                <a class="page_button" href="/membership/ass?pagenum=1" onclick="return check();">◀◀</a>
                <a class="page_button" href="/membership/ass?pagenum={{pagenum-1}}" onclick="return check();">◀</a>
                <input id="id" class="ui-pg-input form-control" type="text" size="2" maxlength="7" value={{pagenum }} role="textbox">
                共 {{pagecounts }} 页
                <a class="page_button" href="/membership/ass?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>
                <a class="page_button" href="/membership/ass?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>
            </div>
            <div id="member-paging_right">
                <div dir="ltr" style="text-align:right" class="ui-paging-info">
                    共{{rowcounts }}条数据
                </div>
            </div>
        </div>
    </div>

</div>


</body>
<script>
    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            alert("当前是第一页")
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            alert("当前是最后一页")
            return false;
        }else{
            return true;
        }
    }
</script>
</body>
</html>