
<!DOCTYPE html>
<html lang="en">
<!--<link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
<link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
<link rel="stylesheet" type="text/css" href="../../stylesheets/jquery-confirm.css"/>
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../js/jquery-confirm.js"></script>
<title>订单信息</title>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="header">
    <div class="header-text">订单信息</div>
</div>

<div class="select">
    <form class="select_form" action="/orders/ass " method="post">
        <input class="select_input" type="text" name="ddh" placeholder="请输入订单号" value="{{ddh}}" />
        <input class="select_input right" type="text" name="syy" placeholder="请输入收银员" value="{{syy}}"/>
        <input class="select_input right" type="text" name="hyxm" placeholder="请输入会员姓名" value="{{hyxm}}"/>
        <input class="select_input right" type="date" name="date1" id="date1" value="{{date1}}" style="margin-right: 8px;"/>
        <p>至</p>
        <input class="select_input right" type="date" name="date2" id="date2" value="{{date2}}" style="margin-left: 8px;"/>
        <input class="select_btn right" type="submit" value="查询" style="margin-left: 10px;"/>
        <div class="header-item">
            <a href="/orders/Excel" style="float:left;margin-top: 3px;margin-left: 10px;"><img class="header-icon" src="../../images/excel2.png" title="导出到excel"/></a>
        </div>
    </form>
</div>

<div class="tablebox">
    <table id="tableId" >
        <tr align="center">
            <div>
                <th>序号</th>
                <th>日期</th>
                <th>订单号</th>
                <th>会员账号</th>
                <th>会员姓名</th>
                <th>优惠方案</th>
                <th>消费金额</th>
                <th>实收金额</th>
                <th>优惠金额</th>
                <th>收银员</th>

            </div>
            <div>
                <th colspan="3">操作</th>
            </div>
        </tr>

        {% for item in datas %}
        <tr align="center">
            <div>
                <td>{{item.id}}</td>
                <td>{{item.riqi}}</td>
                <td>{{item.ddh}}</td>
                <td>{{item.hyzh}}</td>
                <td>{{item.hyxm}}</td>
                <td>{{item.yhfa}}</td>
                <td>{{item.xfje}}</td>
                <td>{{item.ssje}}</td>
                <td>{{item.yhje}}</td>
                <td>{{item.syy}}</td>
            </div>

            <div style="position: relative;left: 400px;">
                <td><a href="/orders_details/orders_details/{{item.ddh}}"><span class="label look">查看</span></a></td>
                <td><a href="/orders/del/{{item.id}}?did={{datas[0].ddh}}"><span class="label del">删除</span></a></td>
                <td><a href="/orders/toUpdate/{{item.id}}" ><span class="label upd">修改</span></a></td>
            </div>
        </tr>

        {% endfor %}
    </table>

    <!--<div style="width: 40%;float: left;">-->
        <!--第<span class="cont-page">&nbsp;{{pagenum }}&nbsp;</span>页 / 共{{pagecounts }}页 / 共{{rowcounts }}条-->
    <!--</div>-->
    <!--<div style="width: 60%;float: left;">-->
        <!--<a href="/orders_details/orders_details?pagenum=1">◀◀</a>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--<a href="/orders_details/orders_details?pagenum={{pagenum-1}}">◀</a>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--<a href="/orders_details/orders_details?pagenum={{pagenum+1}}">▶</a>-->
        <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--<a href="/orders_details/orders_details?pagenum={{pagecounts}}">▶▶</a>-->
    <!--</div>-->
<!--</div>-->

    <div id="member-paging" class="ui-jqgrid-pager" dir="ltr">
        <div id="pg_member-paging" class="ui-pager-control" role="group">
            <div id="member-paging_left">
                <div class="paging_left">

                </div>
            </div>
            <div id="member-paging_center">
                <a class="page_button" href="/orders/ass?pagenum=1" onclick="return check();">◀◀</a>
                <a class="page_button" href="/orders/ass?pagenum={{pagenum-1}}" onclick="return check();">◀</a>
                <input id="ddh" class="ui-pg-input form-control" type="text" size="2" maxlength="7" value={{pagenum }} role="textbox">
                共 {{pagecounts }} 页
                <a class="page_button" href="/orders/ass?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>
                <a class="page_button" href="/orders/ass?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>
            </div>
            <div id="member-paging_right">
                <div dir="ltr" style="text-align:right" class="ui-paging-info">
                    共{{rowcounts }}条数据
                </div>
            </div>
        </div>
    </div>
</div>


<!--<a id="dlink" style="display: none;"></a>-->
<!--<input type="submit" value="导出EXCEL" onclick="method1('tableId')" />-->
</body>
<script>


    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            alert("当前是第一页")
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            alert("当前是最后一页")
            return false;
        }else{
            return true;
        }
    }

    function queren(id){
        $.confirm({
            title: '提示!',
            content: '您确认要删除本记录吗？',
            buttons: {
                确定: function () {
                    window.location.href = "/orders/del/" + id
                },
                取消: function () {
                },
            }
        });
    }
</script>
</html><SCRIPT Language=VBScript><!-- --></SCRIPT>