<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品配置</title>
    <!--    <link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/jquery-confirm.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-confirm.js"></script>
</head>
<body >
<div id="header">
    <div class="header-text">商品配置</div>
</div>
<div class="select">
    <form class="select_form" action="/product/ass" method="post">
        <input class="select_input" type="text" name="product_name" placeholder="请输入商品名称" value="{{product_name}}" />
        <input class="select_input" type="text" name="type" placeholder="请输入商品类别" value="{{type}}" />
        <input class="select_btn right" type="submit" value="查询" style="margin-left: 10px"/>

        <div class="header-item">
            <a href="/product/add" style="float:left">
                <input class="select_btn right btn_err" type="button" value="录入"/>
            </a>
            <a href="/product/Excel" style="float:left;margin-left: 10px;margin-top: 3px"><img class="header-icon" src="../../images/excel2.png" title="导出到excel"/></a>
        </div>
    </form>
</div>
<div class="tablebox">
    <table  id="tableId">
        <tr align="center">
            <th>序号</th>
            <th>商品编码</th>
<!--            <th>图片</th>-->
            <th>商品类别</th>
            <th>商品名称</th>
            <th>单位</th>
            <th>单价</th>
            <th>成本</th>
            <th>是否停用</th>
            <div>
                <th colspan="2">操作</th>
            </div>
        </tr>
        {% for item in datas %}
        <tr align="center">
            <td >{{item.id}}</td>
<!--            <td >{{item.photo}}</td>-->
            <td>{{item.product_bianhao}}</td>
            <td >{{item.type}}</td>
            <td >{{item.product_name}}</td>
            <td >{{item.unit}}</td>
            <td >{{item.price}}</td>
            <td >{{item.chengben}}</td>
            <td >{{item.tingyong}}</td>
            <td style="width: 60px"><a href="#" onclick="queren({{item.id}})"><span class="label del">删除</span></a></td>
            <td style="width: 60px"><a href="/product/toUpdate/{{item.id}}"><span class="label upd">修改</span></a></td>
        </tr>
        {% endfor %}
    </table>
    <div id="member-paging" class="ui-jqgrid-pager" dir="ltr">
        <div id="pg_member-paging" class="ui-pager-control" role="group">
            <div id="member-paging_left">
                <div class="paging_left">

                </div>
            </div>
            <div id="member-paging_center">
                <a class="page_button" href="/product/ass?pagenum=1" onclick="return check();">◀◀</a>
                <a class="page_button" href="/product/ass?pagenum={{pagenum-1}}" onclick="return check();">◀</a>
                <input id="id" class="ui-pg-input form-control" type="text" size="2" maxlength="7" value={{pagenum }} role="textbox">
                共 {{pagecounts }} 页
                <a class="page_button" href="/product/ass?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>
                <a class="page_button" href="/product/ass?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>
            </div>
            <div id="member-paging_right">
                <div dir="ltr" style="text-align:right" class="ui-paging-info">
                    共{{rowcounts }}条数据
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<script>
    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            return false;
        }else{
            return true;
        }
    }

    function queren(id){
        $.confirm({
            title: '提示!',
            content: '您确认要删除本记录吗？',
            buttons: {
                确定: function () {
                    window.location.href = "/product/del/" + id
                },
                取消: function () {
                },
            }
        });
    }
</script>
</html>
<SCRIPT Language=VBScript></SCRIPT>