<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计报表</title>
    <!--    <link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../iframe_d/iframe_d.js"></script>
    <script type="text/javascript" src="../../js/echarts.min.js"></script>
</head>
<style>
    table th, table td {
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        background-color: rgba(8, 46, 84, 0.5);
        padding: 12px;
        color:white;
    }
    #tableId tr td{
        padding-top: 23px;
    }
    #tableId tr td input{
        width: 200px;
        height: 35px;
    }
    #tableId tr td p{
        font-size: 16px;
        font-weight: 700;
    }
</style>
<body >
<div id="header">
    <div class="header-text">统计报表</div>
</div>
<div class="select">
    <input id="start_date" class="select_input" type="date" name="start_date"/>
    <input id="stop_date" class="select_input" type="date" name="stop_date"/>
    <button id="select-btn" class="select_btn right" type="button" style="margin-left: 10px">查询</button>
</div>


    <table id="tableId" style="width: 77%;height: 238px;margin: 0 auto;margin-top: 10px;" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td><p>会&nbsp&nbsp&nbsp员&nbsp&nbsp&nbsp总&nbsp&nbsp&nbsp数</p></td>
            <td>
                <input class="form_input" name="position" id="huiyuan_sum" readonly="readonly" />
            </td>
            <td><p>下&nbsp单&nbsp会&nbsp员&nbsp人&nbsp数</p></td>
            <td>
                <input class="form_input" name="uname" id="xiadan_sum" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td><p>订&nbsp&nbsp&nbsp单&nbsp&nbsp&nbsp总&nbsp&nbsp&nbsp数</p></td>
            <td>
                <input class="form_input" name="account" id="dingdan_sum" readonly="readonly"/>
            </td>
            <td><p>消&nbsp&nbsp&nbsp费&nbsp&nbsp&nbsp金&nbsp&nbsp&nbsp额</p></td>
            <td>
                <input class="form_input" name="password" id="xiaofei_sum" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td><p>实&nbsp&nbsp&nbsp收&nbsp&nbsp&nbsp金&nbsp&nbsp&nbsp额</p></td>
            <td>
                <input class="form_input" name="account" id="shishou_sum" readonly="readonly"/>
            </td>
            <td><p>优&nbsp&nbsp&nbsp惠&nbsp&nbsp&nbsp金&nbsp&nbsp&nbsp额</p></td>
            <td>
                <input class="form_input" name="password" id="youhui_sum" readonly="readonly"/>
            </td>
        </tr>

    </table>


<div id="chart" style="width: 100%;height: 500px;margin-top: 10px">

</div>

</body>
<script>

    $(function () {

        getList();

        $("#select-btn").click(function () {
            getList();
        });

    })

    function getList(){

        var start_date=$('#start_date').val()
        var stop_date=$('#stop_date').val()
        if(start_date == ''){
            start_date = '1900-01-01'
        }
        if(stop_date == ''){
            stop_date = '2100-12-31'
        }
        if(name == ''){
            alert('未选择姓名');
            return;
        }

        console.log(start_date)
        console.log(stop_date)

        $.ajax({
            type: 'post',
            url: '/report_form/getList',
            async:false,
            timeout: 5000,
            data:{
                start_date:start_date,
                stop_date:stop_date,
            },
            success: function(res){
                let result = JSON.parse(res)
                console.log(result)
                if(result.length > 0){
                    result = result[0]
                    result.yhje = Math.round((result.xfje * 1 - result.ssje * 1) * 100) / 100
                }else{
                    result = {
                        xfje:0,
                        ssje:0,
                        yhje:0
                    }
                }
                $('#xiaofei_sum').val(result.xfje)
                $('#shishou_sum').val(result.ssje)
                $('#youhui_sum').val(result.yhje)
                console.log(result)
                chart_refresh(result)

            },
            error: function(res){
                if(res.status == "timeout"){
                    alert("网络超时，请稍后再试")
                }else{
                    alert("网络错误，请稍后再试")
                }
            }
        });

        $.ajax({
            type: 'post',
            url: '/report_form/getList2',
            async:false,
            timeout: 5000,
            data:{
                start_date:start_date,
                stop_date:stop_date,
            },
            success: function(res){
                let result = JSON.parse(res)
                console.log(result)
                $('#huiyuan_sum').val(result[0].huiyuan_sum)
                $('#xiadan_sum').val(result[1].huiyuan_sum)
                $('#dingdan_sum').val(result[2].huiyuan_sum)
            },
            error: function(res){
                if(res.status == "timeout"){
                    alert("网络超时，请稍后再试")
                }else{
                    alert("网络错误，请稍后再试")
                }
            }
        });


    }

    function chart_refresh(this_arr){

        let data1 = []
        let data2 = []

        data1 = ['消费金额','实收金额','优惠金额']
        data2 = [this_arr.xfje, this_arr.ssje, this_arr.yhje]


        var myChart = echarts.init(document.getElementById('chart'));

        var option;

        option = {
            title: {
                text: '点单收入情况汇总',
            },
            xAxis: {
                type: 'category',
                data: data1
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    label: {
                        show: true,
                        position: 'top'
                    },
                    data: data2,
                    type: 'bar',
                    showBackground: true,
                    backgroundStyle: {
                        color: 'rgba(180, 180, 180, 0.2)'
                    }
                }
            ],
            // dataZoom: {
            //     show: true, // 为true 滚动条出现
            //     realtime: true,
            //     type:'slider', // 有type这个属性，滚动条在最下面，也可以不行，写y：36，这表示距离顶端36px，一般就是在图上面。
            //     height: 20, // 表示滚动条的高度，也就是粗细
            //     start: 0, // 表示默认展示20%～80%这一段。
            //     end: 30
            // }
        };
        myChart.setOption(option);


    }
</script>
</html>
<SCRIPT Language=VBScript></SCRIPT>