<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计报表</title>
    <!--    <link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../iframe_d/iframe_d.js"></script>
    <script type="text/javascript" src="../../js/echarts.min.js"></script>
</head>
<style>
    #tableId {
        width: 100%;
    }
    .select_form>p {
        font-size: 12px;
        margin-top: 7px;
    }
    .select_input{
        margin-left: 15px;
    }
    table th, table td {
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        /* background-color: rgba(8, 46, 84, 0.5); */
        padding: 12px;
        /* color: white; */
        /*background-color: #fff;*/
    }
    #tableId tr td{
        padding-top: 23px;
    }
    #tableId tr td input{
        width: 87%;
        height: 40px;
        outline: none;
        border: 1px solid rgb(161, 158, 158);
        /* border-top: none; */
        /* border-left: none; */
        /* border-right: none; */
        border-radius:8px;
        /* padding-left: 10px; */
        text-align: center;
        transition: .3s;
    }

    #tableId tr td input:focus{
        border: 1px solid rgb(0, 165, 165);
        box-shadow: 2px 2px 2px rgb(0, 165, 165);
    }

    #tableId tr td p{
        font-size: 17px;
        font-weight: bold;
    }
    #chart{
        width: 97%;
        margin: 10px auto;
        height: 500px;
        margin-top: 10px;
        user-select: none;
        background-color: #fff;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>
<body class="bg-img">
<div class="time-bar">
    <div class="time-display">
        <div class="time-text">当前页:统计报表</div>
        <span class="time-text" id="current-date">2025年8月15日 星期五</span>

        <span class="time-text" id="current-time">14:31:33</span>
    </div>

    <div class="session-time">
        <i class="bi bi-hourglass-split icon"></i>
        <span class="time-text">已使用: <span id="session-timer">00:00:00</span></span>
    </div>
</div>
<div class="select">
    <div class="select_form">
        <input id="start_date" class="select_input" type="date" name="start_date"/>
        <input id="stop_date" class="select_input" type="date" name="stop_date"/>
        <button id="select-btn" class="select_btn right" type="button">查询</button>
    </div>
</div>


<table id="tableId"  class="gradient-table" >
        <tr>
            <td><p class="tongji">会&nbsp&nbsp&nbsp员&nbsp&nbsp&nbsp总&nbsp&nbsp&nbsp数</p></td>
            <td>
                <input class="form_input tongji" name="position" id="huiyuan_sum" readonly="readonly" />
            </td>
            <td><p class="tongji">下&nbsp单&nbsp会&nbsp员&nbsp人&nbsp数</p></td>
            <td>
                <input class="form_input tongji" name="uname" id="xiadan_sum" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td><p class="tongji">订&nbsp&nbsp&nbsp单&nbsp&nbsp&nbsp总&nbsp&nbsp&nbsp数</p></td>
            <td>
                <input class="form_input tongji" name="account" id="dingdan_sum" readonly="readonly"/>
            </td>
            <td><p class="tongji">消&nbsp&nbsp&nbsp费&nbsp&nbsp&nbsp金&nbsp&nbsp&nbsp额</p></td>
            <td>
                <input class="form_input tongji" name="password" id="xiaofei_sum" readonly="readonly"/>
            </td>
        </tr>
        <tr>
            <td><p class="tongji">实&nbsp&nbsp&nbsp收&nbsp&nbsp&nbsp金&nbsp&nbsp&nbsp额</p></td>
            <td>
                <input class="form_input tongji" name="account" id="shishou_sum" readonly="readonly"/>
            </td>
            <td><p class="tongji">优&nbsp&nbsp&nbsp惠&nbsp&nbsp&nbsp金&nbsp&nbsp&nbsp额</p></td>
            <td>
                <input class="form_input tongji" name="password" id="youhui_sum" readonly="readonly"/>
            </td>
        </tr>

    </table>


<div id="chart">

</div>

</body>
<script>

    $(function () {

        getList();

        $("#select-btn").click(function () {
            getList();
        });

    })

    function getList(){
        //获取当月第一天
        var date = new Date();
        date.setDate(1);
        var month = parseInt(date.getMonth()+1);
        var day = date.getDate();
        if (month < 10) {
            month = '0' + month
        }
        if (day < 10) {
            day = '0' + day
        }
        //获取最后一天
        var lastDate = new Date(date.getFullYear(),month,0).getDate();
        var str1 =  date.getFullYear() + '-' + month + '-' + day;
        var str2 =  date.getFullYear() + '-' + month + '-' + lastDate;


        var start_date=$('#start_date').val()
        var stop_date=$('#stop_date').val()
        if(start_date == ''){
            start_date = str1;
            $('#start_date').val(str1)
        }
        if(stop_date == ''){
            stop_date = str2;
            $('#stop_date').val(str2)
        }
        if(name == ''){
            alert('未选择姓名');
            return;
        }

        console.log(start_date)
        console.log(stop_date)

        $.ajax({
            type: 'post',
            url: '/report_form/getList',
            async:false,
            timeout: 5000,
            data:{
                start_date:start_date,
                stop_date:stop_date,
            },
            success: function(res){
                let result = JSON.parse(res)
                console.log(result)
                if(result.length > 0){
                    result = result[0]
                    result.yhje = Math.round((result.xfje * 1 - result.ssje * 1) * 100) / 100
                }else{
                    result = {
                        xfje:0,
                        ssje:0,
                        yhje:0
                    }
                }
                $('#xiaofei_sum').val(result.xfje)
                $('#shishou_sum').val(result.ssje)
                $('#youhui_sum').val(result.yhje)
                console.log(result)
                chart_refresh(result)

            },
            error: function(res){
                if(res.status == "timeout"){
                    alert("网络超时，请稍后再试")
                }else{
                    alert("网络错误，请稍后再试")
                }
            }
        });

        $.ajax({
            type: 'post',
            url: '/report_form/getList2',
            async:false,
            timeout: 5000,
            data:{
                start_date:start_date,
                stop_date:stop_date,
            },
            success: function(res){
                let result = JSON.parse(res)
                console.log(result)
                $('#huiyuan_sum').val(result[0].huiyuan_sum)
                $('#xiadan_sum').val(result[1].huiyuan_sum)
                $('#dingdan_sum').val(result[2].huiyuan_sum)
            },
            error: function(res){
                if(res.status == "timeout"){
                    alert("网络超时，请稍后再试")
                }else{
                    alert("网络错误，请稍后再试")
                }
            }
        });


    }

    function chart_refresh(this_arr){

        let data1 = []
        let data2 = []

        data1 = ['消费金额','实收金额','优惠金额']
        data2 = [this_arr.xfje, this_arr.ssje, this_arr.yhje]


        var myChart = echarts.init(document.getElementById('chart'));

        var option;

        option = {
            backgroundColor:'#f4e4a6',

            title: {
                text: '点单收入情况汇总',
                textStyle: {
                    fontSize:25
                }
            },
            xAxis: {
                type: 'category',
                data: data1,
                axisLabel: {
                    textStyle: {
                        fontSize: 18  // 设置字体大小为14
                    }
                }
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    textStyle: {
                        fontSize: 18  // 设置字体大小为14
                    }
                }
            },
            series: [
                {
                    label: {
                        show: true,
                        position: 'top'
                    },
                    data: data2,
                    type: 'bar',
                    showBackground: true,
                    backgroundStyle: {
                        color: 'rgba(180, 180, 180, 0.2)'
                    }
                }
            ],
            // dataZoom: {
            //     show: true, // 为true 滚动条出现
            //     realtime: true,
            //     type:'slider', // 有type这个属性，滚动条在最下面，也可以不行，写y：36，这表示距离顶端36px，一般就是在图上面。
            //     height: 20, // 表示滚动条的高度，也就是粗细
            //     start: 0, // 表示默认展示20%～80%这一段。
            //     end: 30
            // }
        };
        myChart.setOption(option);


    }

    // 初始化时间显示
    function updateTime() {
        const now = new Date();
        document.getElementById('current-date').textContent =
            `${now.getFullYear()}年${now.getMonth()+1}月${now.getDate()}日 星期${['日','一','二','三','四','五','六'][now.getDay()]}`;
        document.getElementById('current-time').textContent =
            `${now.getHours().toString().padStart(2,'0')}:${now.getMinutes().toString().padStart(2,'0')}:${now.getSeconds().toString().padStart(2,'0')}`;
    }

    // 会话计时器
    let startTime = Date.now();
    function updateSessionTime() {
        const elapsed = Date.now() - startTime;
        const hours = Math.floor(elapsed / 3600000);
        const minutes = Math.floor((elapsed % 3600000) / 60000);
        const seconds = Math.floor((elapsed % 60000) / 1000);

        document.getElementById('session-timer').textContent =
            `${hours.toString().padStart(2,'0')}:${minutes.toString().padStart(2,'0')}:${seconds.toString().padStart(2,'0')}`;
    }

    // 启动定时器
    updateTime();
    updateSessionTime();
    setInterval(updateTime, 1000);
    setInterval(updateSessionTime, 1000);
</script>
</html>
<SCRIPT Language=VBScript></SCRIPT>