<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工信息</title>
<!--    <link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>

    <meta charset="UTF-8">

</head>
<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form action="/ass" method="post">
    <div id="header">
        <div class="logo">员工信息</div>
        <div class="navigation">
            <ul>
                <li><a href="/users/uadd"><img src="../../images/luru.png" title="新增员工" style="width: 40px;height: 40px;"/></a></li>
                <li><a href="/users/Excel"><img src="../../images/excel.png" title="导出到excel" style="width: 30px;height: 35px;"/></a></li>
            </ul>
        </div>
    </div>
    <div class="tablebox" style="width: 100%;height: 380px; margin-top:80px;">
    <table  id="tableId" border="0" cellspacing="0" cellpadding="0">
        <tr align="center">
            <th>序号</th>

            <th>职位</th>
            <th>员工</th>
            <th>账号</th>
            <th>密码</th>
            <th>删除功能</th>
            <th>修改功能</th>
        </tr>
        {% for item in datas %}
        <tr align="center">
            <td>{{item.id}}</td>

            <td>{{item.position}}</td>
            <td>{{item.uname}}</td>
            <td>{{item.account}}</td>
            <td>{{item.password}}</td>
            <td><a href="/users/del/{{item.id}}" onclick="return confirm('您确认要删除本记录么？')">删除</a></td>
            <td><a href="/users/toUpdate/{{item.id}}">修改</a></td>
        </tr>
        {% endfor %}
    </table>
        一共有{{rowcounts }}条记录，一共{{pagecounts }}页，当前第{{pagenum }}页
        <a href="/users/ass?pagenum=1">首页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/users/ass?pagenum={{pagenum-1}}">上一页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/users/ass?pagenum={{pagenum+1}}">下一页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/users/ass?pagenum={{pagecounts}}">尾页</a>
    </div>

</form>
</body>
</html>
<SCRIPT Language=VBScript></SCRIPT>