<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工信息</title>
<!--    <link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
</head>
<body >
<!--<form  action="/ass" method="post">-->
<!--    <div id="header">-->
<!--        <div class="header-text">员工信息</div>-->
<!--        <div class="header-item">-->
<!--            <form class="select_form">-->
<!--                <div class="header-item">-->
<!--                    <a href="/users/uadd"><img class="header-icon" src="../../images/luru.png" title="新增员工" /></a>-->
<!--                    <a href="/users/Excel"><img class="header-icon" src="../../images/excel.png" title="导出到excel"/></a>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<div id="header">
    <div class="header-text">员工信息</div>
</div>
    <div class="select">
        <form class="select_form" action="/users/ass" method="post">
            <input class="select_input" type="text" name="uname" placeholder="请输入员工姓名" value="{{uname}}" />
            <input class="select_btn right" type="submit" value="查询" style="margin-left: 10px"/>

            <div class="header-item">
                <a href="/users/uadd" style="float:left">
                    <input class="select_btn right" type="button" value="录入"/>
                </a>
                <a href="/users/Excel" style="float:left;margin-left: 10px;margin-top: 3px"><img class="header-icon" src="../../images/excel2.png" title="导出到excel"/></a>
            </div>
        </form>
    </div>
    <div class="tablebox">
        <table  id="tableId">
            <tr align="center">
                <th>序号</th>
                <th>职位</th>
                <th>员工</th>
                <th>账号</th>
                <th>密码</th>
                <div>
                    <th colspan="2">操作</th>
                </div>
            </tr>
            {% for item in datas %}
            <tr align="center">
                <td >{{item.id}}</td>
                <td >{{item.position}}</td>
                <td >{{item.uname}}</td>
                <td >{{item.account}}</td>
                <td >{{item.password}}</td>
                <td style="width: 60px"><a href="/users/del/{{item.id}}" onclick="return confirm('您确认要删除本记录么？')">删除</a></td>
                <td style="width: 60px"><a href="/users/toUpdate/{{item.id}}">修改</a></td>
            </tr>
            {% endfor %}
        </table>
        <div style="padding-top: 15px">
            一共有{{rowcounts }}条记录，一共{{pagecounts }}页，当前第{{pagenum }}页
            <input type="hidden" value="{{pagenum }}" id="id">
            <input type="hidden" value="{{pagecounts }}" id="id1">
            <a href="/users/ass?pagenum=1" onclick="return check();">首页</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/users/ass?pagenum={{pagenum-1}}" onclick="return check();">上一页</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/users/ass?pagenum={{pagenum+1}}" onclick="return check1();">下一页</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/users/ass?pagenum={{pagecounts}}" onclick="return check1();">尾页</a>
        </div>

    </div>


</body>
<script>
    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            alert("当前是第一页")
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            alert("当前是最后一页")
            return false;
        }else{
            return true;
        }
    }
</script>
</html>
<SCRIPT Language=VBScript></SCRIPT>