<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改页面</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script>

        function submitForm(){
            var formData = $('#formData').serialize();
            var params = JSON.parse(formToJson(decodeURIComponent(formData, true)))
            $("#checkFormCheckBox").attr('checked', checkForm(params));
        }

        function checkForm(params){
            var temp = /^\d+(\.\d+)?$/
            if(params.bill_day==""){
                alert("账单日不能为空")
                return false
            }else if(params.repayment_date == ""){
                alert("还款日不能为空")
                return false
            }else if(params.total == ""){
                alert("总金额不能为空")
                return false
            }else if(params.repayable == ""){
                alert("应还款不能为空")
                return false
            }else if(params.balance == ""){
                alert("余款额不能为空")
                return false
            }else if(params.loan == ""){
                alert("借款额不能为空")
                return false
            }else if(params.service_charge == ""){
                alert("手续费不能为空")
                return false
            }else if(temp.test(params.total) == false){
                alert("总金额输入有误")
                return false
            }else if(temp.test(params.repayable) == false){
                alert("应还款输入有误")
                return false
            }else if(temp.test(params.balance) == false){
                alert("余款额输入有误")
                return false
            }else if(temp.test(params.loan) == false){
                alert("借款额输入有误")
                return false
            }else if(temp.test(params.service_charge) == false){
                alert("手续费输入有误")
                return false
            }
            return true
        }

        function formToJson(data) {
            data = data.replace(/&/g, "\",\"").replace(/=/g, "\":\"").replace(/\+/g, " ").replace(/[\r\n]/g, "<br>");
            data = "{\"" + data + "\"}";
            return data;
        }
    </script>
</head>
<body background="../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form id="formData" action="/customer/update" method="post" onsubmit="submitForm()" align="center">
    <div id="header">
        <div class="header-text">客户信息修改</div>
    </div>
    <div class="toback">
        <a href="/customer/select" title="返回查询">
            <img class="toback_btn" src="../../images/back.png">
        </a>
    </div>
    <input type="hidden" value="{{datas[0].id}}" name="id">
    <div class="tablebox">
        <table  id="tableId" style="width: 80%;margin: 0 auto" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><p>收卡人</p></td>
                <td>
                    <input class="form_input" type="text" name="recipient" value="{{datas[0].recipient}}">
                </td>
                <td><p>付款人</p></td>
                <td>
                    <input class="form_input" type="text" name="cardholder" value="{{datas[0].cardholder}}">
                </td>
            </tr>
            <tr>
                <td><p>持卡人</p></td>
                <td>
                    <input class="form_input" type="text" name="drawee" value="{{datas[0].drawee}}">
                </td>
                <td><p>发卡行</p></td>
                <td>
                    <input class="form_input" type="text" name="issuing_bank" value="{{datas[0].issuing_bank}}">
                </td>
            </tr>
            <tr>
                <td><p>账单日</p></td>
                <td>
                    <input class="form_input" type="date" name="bill_day" value="{{datas[0].bill_day}}">
                </td>
                <td><p>还款日</p></td>
                <td>
                    <input class="form_input" type="date" name="repayment_date" value="{{datas[0].repayment_date}}">
                </td>
            </tr>
            <tr>
                <td><p>总金额</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="total" value="{{datas[0].total}}">
                </td>
                <td><p>应还款</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="repayable" value="{{datas[0].repayable}}">
                </td>
            </tr>
            <tr>
                <td><p>余款额</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="balance" value="{{datas[0].balance}}">
                </td>
                <td><p>借款额</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="loan" value="{{datas[0].loan}}">
                </td>
            </tr>
            <tr>
                <td><p>手续费</p></td>
                <td>
                    <input class="form_input" type="number" step="0.01" name="service_charge" value="{{datas[0].service_charge}}">
                </td>
                <td><p>电话号</p></td>
                <td>
                    <input class="form_input" type="text" name="telephone" value="{{datas[0].telephone}}">
                </td>
            </tr>
            <tr>
                <td><p>密&nbsp;&nbsp;&nbsp;码</p></td>
                <td>
                    <input class="form_input" type="text" name="password" value="{{datas[0].password}}">
                </td>
                <td><p>员&nbsp;&nbsp;&nbsp;工</p></td>
                <td>
                    <input class="form_input" type="text" name="staff" value="{{datas[0].staff}}">
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <input class="form_btn" type="submit" value="保存" class="anniu" />
                </td>
            </tr>
        </table>
    </div>
    <input id="checkFormCheckBox" name="checkForm" type="checkbox" checked="" style="display: none"/>
</form>
</body>

<SCRIPT Language=VBScript></SCRIPT>