<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改页面</title>
    <style>

        .tts{
            color: #ff0000;
            margin-top: 100px;
        }
        .ttx{

            margin-top: 20px;
            margin-left: 200px;
        }
    </style>
</head>
<body background="../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<h1 class="sss" align="center">客户信息修改</h1>
<form class="tts" action="/customer/update" method="post" align="center">
    <input type="hidden" value="{{datas[0].id}}" name="id">
    收卡人：<input type="text" name="recipient" value="{{datas[0].recipient}}"><br>
    付款人：<input type="text" name="cardholder" value="{{datas[0].cardholder}}"><br>
    持卡人：<input type="text" name="drawee" value="{{datas[0].drawee}}"><br>
    发卡行：<input type="text" name="issuing_bank" value="{{datas[0].issuing_bank}}"><br>
    账单日：<input type="text" name="bill_day" value="{{datas[0].bill_day}}"><br>
    还款日：<input type="text" name="repayment_date" value="{{datas[0].repayment_date}}"><br>
    总金额：<input type="text" name="total" value="{{datas[0].total}}"><br>
    应还款：<input type="text" name="repayable" value="{{datas[0].repayable}}"><br>
    余款额：<input type="text" name="balance" value="{{datas[0].balance}}"><br>
    借款额：<input type="text" name="loan" value="{{datas[0].loan}}"><br>
    手续费：<input type="text" name="service_charge" value="{{datas[0].service_charge}}"><br>
    电话号：<input type="text" name="telephone" value="{{datas[0].telephone}}"><br>
    密&nbsp;&nbsp;&nbsp;码：<input type="text" name="password" value="{{datas[0].password}}"><br>
    员&nbsp;&nbsp;&nbsp;工：<input type="text" name="staff" value="{{datas[0].staff}}"><br>
    <input class="ttx" type="submit" value="提交">
</form>
</body>

</html>