<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{登录页面}}</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/denglu.css" />
</head>
<body>
<form action="/users/search" method="post" align="center" class="mainin1">
    <h1  align="center">登录界面</h1>
    公司名称：<input type="text" name="company" value="{{company}}"><br>
    职&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位：<input type="text" name="position" value="{{position}}"><br>
    员&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;工：<input type="text" name="uname" value="{{uname}}"><br>
    账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input type="text" name="account" value="{{account}}"><br>
    密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：<input type="password" name="password" value="{{password}}"><br>
    <input type="submit" value="登录">
</form>


</body>
<SCRIPT Language=VBScript></SCRIPT>