<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品明细</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <style>
        #printArea{
            width: 100%;
            max-width: 600px;
            height: 100%;
            display: none;
        }
        #printArea table tbody tr td{
            border-bottom: 0;
        }
        #printArea table tbody th td{
            border-bottom: 0;
        }
        #printArea table tbody tr{
            border-bottom: 0;
            margin-bottom: 30px;
        }
        #printArea table tbody th{
            margin-bottom: 30px;
            border-bottom: 0;
        }
        #printArea table tbody{
            border-bottom: 0;
        }
        #printArea h4,
        #printArea h6{
            text-align: center;
            margin-top: 15px;
        }
        #printArea h6{
            margin-bottom: 10px;
        }
        #print_table{
            margin-top:10px;
        }
        .dayinxiaopiao{
            display: inline;
            padding: 0.2em 0.6em 0.3em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: 0.25em;
            background-color: #34A8FF;
        }


    </style>
</head>

<body background="/images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form action="/orders_details/ass" method="post">
    <div id="header">
        <div class="header-text">产品明细</div>

    </div>
    <div class="toback">
        <a href="/orders/select" title="返回查询">
            <p><&nbsp返回上一级</p>
        </a>
    </div>
    <div class="tablebox">
        <table  id="tableId1" border="0" cellspacing="0" cellpadding="0">
            <tr align="center">
                <th>序号</th>
                <th>日期</th>
                <th>订单号</th>
                <th>会员账号</th>
                <th>会员姓名</th>
                <th>优惠方案</th>
                <th>消费金额</th>
                <th>实收金额</th>
                <th>优惠金额</th>
                <th>收银员</th>
            </tr>
            <tr align="center">
                <td>{{datas[0].id}}</td>
                <td>{{datas[0].riqi}}</td>
                <td>{{datas[0].ddh}}</td>
                <td>{{datas[0].hyzh}}</td>
                <td>{{datas[0].hyxm}}</td>
                <td>{{datas[0].yhfa}}</td>
                <td>{{datas[0].xfje}}</td>
                <td>{{datas[0].ssje}}</td>
                <td>{{datas[0].yhje}}</td>
                <td>{{datas[0].syy}}</td>
            </tr>
        </table>
        <br>

        <table id="tableId" width="100%" border="1">
            <tr align="center">
                <th>产品类型</th>
<!--                <th>产品编码</th>-->
                <th>产品名称</th>
                <th>单位</th>
                <th>单价</th>
                <th>数量</th>
                <th>打折比例</th>
                <th>折后单价</th>
                <th>折后金额</th>
                <th colspan="2">操作</th>
            </tr>
            {% for item in datass %}
            <tr align="center">
                <td>{{item.cplx}}</td>
<!--                <td>{{item.product_bianhao}}</td>-->
                <td>{{item.cpmc}}</td>
                <td>{{item.dw}}</td>
                <td>{{item.dj}}</td><!-- 单价 -->
                <td>{{item.gs}}</td><!-- 数量 -->
                <td>{{item.dzbl}}</td><!-- 打折比例 -->
                <td>{{item.zhdj}}</td><!-- 折后单价=单价*打折比例 -->
                <td>{{item.zhje}}</td><!-- 折后金额=折后单价*数量 -->
                <td><a href="/orders_details/toUpdate/{{item.id}}?did={{datas[0].ddh}}" onclick="return check3()"><span class="label upd">修改</span></a></td>
                <td><a href="/orders_details/del/{{item.id}}?did={{datas[0].ddh}}" onclick="return check2();  "><span class="label del">删除</span></a></td>
                </tr>
            {% endfor %}
        </table>
        <div id="member-paging" class="ui-jqgrid-pager" dir="ltr">
            <div id="pg_member-paging" class="ui-pager-control" role="group">
                <div id="member-paging_left">
                    <div class="paging_left">
                        <button id="dayinxiaopiao" class="dayinxiaopiao" onclick="printpage()">打印小票</button>
                    </div>
                </div>
                <div id="member-paging_center" style="display: flex;align-items: center">
                    <a class="page_button" href="/orders_details/orders_details/{{datas[0].ddh}}?pagenum=1" onclick="return check();">◀◀</a>
                    <a class="page_button" href="/orders_details/orders_details/{{datas[0].ddh}}?pagenum={{pagenum-1}}" onclick="return check();">◀</a>
                    <input  class="ui-pg-input form-control" type="text" size="2" maxlength="7" value={{pagenum }} role="textbox">
                    共 {{pagecounts }} 页
                    <a class="page_button" href="/orders_details/orders_details/{{datas[0].ddh}}?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>
                    <a class="page_button" href="/orders_details/orders_details/{{datas[0].ddh}}?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>
                </div>
                <div id="member-paging_right">
                    <div dir="ltr" style="text-align:right" class="ui-paging-info">
                        共{{rowcounts }}条数据
                    </div>
                </div>
            </div>
        </div>
        <!--startprint-->
        <div id="printArea">
            <h4>欢迎光临</h4>
            <h6>云掌柜购物广场</h6>
            <table style="border-bottom: 0px;width:100%;max-width: 600px;" id="print_table" border="0" cellspacing="0" cellpadding="0">
                <tr align="center">
                    <th style="width: 100px">品名</th>
                    <th style="width: 100px">单价</th>
                    <th style="width: 100px">数量</th>
                    <th style="width: 100px">金额</th>
                </tr >
                <br>
                {% for item in datass %}
                <tr align="center">
                    <td>{{item.cpmc}}</td>
                    <td>{{item.zhdj}}</td>
                    <td>{{item.gs}}</td>
                    <td>{{item.zhje}}</td>
                </tr>
                {% endfor %}
                <tr align="center">
                    <td>&nbsp</td>
                </tr>
                <tr align="center">
                    <td>消费金额：</td>
                    <td>{{datas[0].xfje}}</td>
                </tr>
                <tr align="center">
                    <td>收银员：</td>
                    <td>{{datas[0].syy}}</td>
                </tr>
                <tr align="center">
                    <td>订单号：</td>
                    <td>{{datas[0].ddh}}</td>
                </tr>
                <tr align="center">
                    <td>日期：</td>
                    <td>{{datas[0].riqi}}</td>
                </tr>
                <tr align="center">
                    <td>会员号：</td>
                    <td>{{datas[0].hyzh}}</td>
                </tr>
            </table>

            </div>
        </div>
        <!--endprint-->
    </div>

</form>
</body>
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<script>
    $("#dayinxiaopiao").click(function(){
        $("#printArea").css("display","block")
    })

    function printpage() {
        $("#printArea").css("display","block")
        let oldStr = window.document.body.innerHTML; // 获取body的内容
        let start = "<!--startprint-->"; // 开始打印标识, 17个字符
        let end = "<!--endprint-->"; // 结束打印标识
        let newStr = oldStr.substr(oldStr.indexOf(start) + 17); // 截取开始打印标识之后的内容
        newStr = newStr.substring(0, newStr.indexOf(end)); // 截取开始打印标识和结束打印标识之间的内容
        window.document.body.innerHTML = newStr; // 把需要打印的指定内容赋给body
        window.print(); // 调用浏览器的打印功能打印指定区域
        window.document.body.innerHTML = oldStr; // body替换为原来的内容
        $("#printArea").hide();
        $("#printArea").css("display","none")
    }

    function check(){
        var id = document.getElementById("id")
        //var id1 = document.getElementById("id1")
        var pagenum = id.value;
        //var pagecounts = id1.value;
        if(pagenum <= 1){
            alert("当前是第一页")
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            alert("当前是最后一页")
            return false;
        }else{
            return true;
        }
    }
</script>
</html>
<SCRIPT Language=VBScript><!-- --></SCRIPT>