
<!DOCTYPE html>
<html lang="en">
<!--<link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
<link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<title>月交易记录</title>
<script type="text/javascript">
    function run(){
        var  recipient = document.getElementById("recipient");
        recipient.value ="";
        var cardholder = document.getElementById("cardholder");
        cardholder.value ="";
        var drawee = document.getElementById("drawee");
        drawee.value ="";
        var date1 = document.getElementById("date1");
        date1.value ="";
        var date2 = document.getElementById("date2");
        date2.value ="";
    }
</script>
<head>
    <meta charset="UTF-8">


</head>
<body>
<div id="header">
    <div class="header-text">月交易记录</div>
</div>
<div class="select">
    <form class="select_form" action="/month_trading/ass " method="post">
        <input class="select_input right" type="text" name="recipient" id="recipient" placeholder="请输入收卡人" value="{{recipient}}" />
        <input class="select_input right" type="text" name="cardholder" id="cardholder" placeholder="请输入付款人" value="{{cardholder}}"/>
        <input class="select_input right" type="text" name="drawee" id="drawee" placeholder="请输入持卡人" value="{{drawee}}"/>
        <input class="select_input right" type="date" name="date1" id="date1" value="{{date1}}" style="margin-right: 8px;"/>
        <p>至</p>
        <input class="select_input right" type="date" name="date2" id="date2" value="{{date2}}" style="margin-left: 8px;"/>
        <input class="select_btn right" type="submit" value="查询" style="margin-left: 10px;"/>
        <input class="select_btn right" type="button" value="清空" onclick="run()" style="margin-left: 10px;"/>

        <div class="header-item">
            <a href="/month_trading/Excel"><img class="header-icon" src="../../images/excel2.png" title="导出到excel"/></a>
        </div>
    </form>
</div>
<input type="hidden" value="{{datas[0].id}}" name="id">
<div class="tablebox">
    <table id="tableId" border="0" cellspacing="0" cellpadding="0">
        <tr align="center">
            <th>序号</th>
            <th>收卡人</th>
            <th>付款人</th>
            <th>持卡人</th>
            <th>发卡行</th>
            <th>账单日</th>
            <th>还款日</th>
            <th>总金额</th>
            <th>应还款</th>
            <th>剩余额</th>
            <th>借款额</th>
            <th>已还款</th>
            <th>已刷额</th>
            <th>未刷金额</th>
            <th>总手续费</th>
            <th>应收金额</th>
            <th>利润</th>

        </tr>
        {% for item in datas %}
        <tr align="center">
            <td>{{item.id}}</td>
            <td>{{item.recipient}}</td>
            <td>{{item.cardholder}}</td>
            <td>{{item.drawee}}</td>
            <td>{{item.issuing_bank}}</td>
            <td>{{item.bill_day}}</td>
            <td>{{item.repayment_date}}</td>
            <td>{{item.total}}</td>
            <td>{{item.repayable}}</td>
            <td>{{item.balance}}</td>
            <td>{{item.loan}}</td>
            <td>{{item.repayment}}</td>
            <td>{{item.swipe}}</td>
            <td>{{item.balance_of_credit_card}}</td>
            <td>{{item.the_total_fee}}</td>
            <td>{{item.collected_amount}}</td>
            <td>{{item.profit}}</td>
        </tr>
        {% endfor %}
    </table>
    <div id="member-paging" class="ui-jqgrid-pager" dir="ltr">
        <div id="pg_member-paging" class="ui-pager-control" role="group">
            <div id="member-paging_left">
                <div class="paging_left">

                </div>
            </div>
            <div id="member-paging_center">
                <a class="page_button" href="/month_trading/ass?pagenum=1" onclick="return check();">◀◀</a>
                <a class="page_button" href="/month_trading/ass?pagenum={{pagenum-1}}" onclick="return check();">◀</a>
                <input id="id" class="ui-pg-input form-control" type="text" size="2" maxlength="7" value={{pagenum }} role="textbox">
                共 {{pagecounts }} 页
                <a class="page_button" href="/month_trading/ass?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>
                <a class="page_button" href="/month_trading/ass?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>
            </div>
            <div id="member-paging_right">
                <div dir="ltr" style="text-align:right" class="ui-paging-info">
                    共{{rowcounts }}条数据
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            alert("当前是第一页")
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            alert("当前是最后一页")
            return false;
        }else{
            return true;
        }
    }
    $(function () {
        //获取当月第一天
        var date = new Date();
        date.setDate(1);
        var month = parseInt(date.getMonth()+1);
        var day = date.getDate();
        if (month < 10) {
            month = '0' + month
        }
        if (day < 10) {
            day = '0' + day
        }
        //获取最后一天
        var lastDate = new Date(date.getFullYear(),month,0).getDate();
        var str1 =  date.getFullYear() + '-' + month + '-' + day;
        var str2 =  date.getFullYear() + '-' + month + '-' + lastDate;

        var start_date=$('#date1').val()
        var stop_date=$('#date2').val()
        if(start_date == ''){
            start_date = str1;
            $('#date1').val(str1)
        }
        if(stop_date == ''){
            stop_date = str2;
            $('#date2').val(str2)
        }
    })
</script>
</html><SCRIPT Language=VBScript><!-- --></SCRIPT>