
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<title>日交易记录查询</title>
<script type="text/javascript">
    function run(){
        var  recipient = document.getElementById("recipient");
        recipient.value ="";
        var cardholder = document.getElementById("cardholder");
        cardholder.value ="";
        var drawee = document.getElementById("drawee");
        drawee.value ="";
        var date1 = document.getElementById("date1");
        date1.value ="";
        var date2 = document.getElementById("date2");
        date2.value ="";
        // console.log("date1="+date1+"date2="+date2)
    }
</script>
<head>
    <meta charset="UTF-8">

</head>
<body>
<div id="header">
    <div class="header-text">日交易记录</div>
</div>
<div class="select">
    <form class="select_form" action="/day_trading/select " method="post">
        <input class="select_input right" type="text" name="recipient" id="recipient" placeholder="请输入收卡人" value="{{recipient}}" />
        <input class="select_input right" type="text" name="cardholder" id="cardholder" placeholder="请输入付款人" value="{{cardholder}}"/>
        <input class="select_input right" type="text" name="drawee" id="drawee" placeholder="请输入持卡人" value="{{drawee}}"/>
        <input class="select_input right" type="date" name="date1" id="date1" value="{{date1}}" placeholder="2023年1月9日" style="margin-right: 8px;"/>
        <p>至</p>
        <input class="select_input right" type="date" name="date2" id="date2" value="{{date2}}" style="margin-left: 8px;"/>
        <input class="select_btn right" type="submit" value="查询" style="margin-left: 10px;"/>
        <input class="select_btn right" type="button" value="清空" onclick="run()" style="margin-left: 10px;"/>
        <a href="/day_trading/Excel2?id={{datas[0].gongsi}}&recipient={{recipient}}&cardholder={{cardholder}}&drawee={{drawee}}&date1={{date1}}&date2={{date2}}" title="导出EXCEL" style="margin-left: 10px;margin-top: 3px;">
            <img class="header-icon" src="../../images/excel2.png">
        </a>
    </form>
</div>
<input type="hidden" value="{{datas[0].id}}" name="id">
<div class="tablebox">
    <table id="tableId" border="0" cellspacing="0" cellpadding="0">
        <tr align="center">
            <th>序号</th>
            <th>收卡人</th>
            <th>付款人</th>
            <th>持卡人</th>
            <th>发卡行</th>
            <th>账单日</th>
            <th>还款日</th>
            <th>总金额</th>
            <th>应还款</th>
            <th>剩余额</th>
            <th>借款额</th>
            <th>已还款</th>
            <th>日期</th>
            <th>商户</th>
            <th>刷卡额</th>
            <th>费率</th>
            <th>到账金额</th>
            <th>基础手续费</th>
            <th>其他手续费</th>

        </tr>
        {% for item in datas %}
        <tr align="center">
            <td>{{item.did}}</td>
            <td>{{item.recipient}}</td>
            <td>{{item.cardholder}}</td>
            <td>{{item.drawee}}</td>
            <td>{{item.issuing_bank}}</td>
            <td>{{item.bill_day}}</td>
            <td>{{item.repayment_date}}</td>
            <td>{{item.total}}</td>
            <td>{{item.repayable}}</td>
            <td>{{item.balance}}</td>
            <td>{{item.loan}}</td>
            <td>{{item.repayment}}</td>
            <td>{{item.date_time}}</td>
            <td>{{item.commercial_tenant}}</td>
            <td>{{item.swipe}}</td>
            <td>{{item.rate}}</td>
            <td>{{item.arrival_amount}}</td>
            <td>{{item.basics_service_charge}}</td>
            <td>{{item.other_service_charge}}</td>
        </tr>
        {% endfor %}
    </table>

    <div id="member-paging" class="ui-jqgrid-pager" dir="ltr">
        <div id="pg_member-paging" class="ui-pager-control" role="group">
            <div id="member-paging_left">
                <div class="paging_left">

                </div>
            </div>
            <div id="member-paging_center">
                <a id="page_button_first" class="page_button" href="/day_trading/select?pagenum=1" onclick="return check();">◀◀</a>
                <a id="page_button_pre" class="page_button" href="/day_trading/select?pagenum={{pagenum-1}}" onclick="return check();">◀</a>
                <input id="id" class="ui-pg-input form-control" type="text" size="2" maxlength="7" value={{pagenum }} role="textbox">
                共 {{pagecounts }} 页
                <a id="page_button_next" class="page_button" href="/day_trading/select?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>
                <a id="page_button_last" class="page_button" href="/day_trading/select?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>
            </div>
            <div id="member-paging_right">
                <div dir="ltr" style="text-align:right" class="ui-paging-info">
                    共{{rowcounts }}条数据
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            pagenum = 1
            alert("当前是第一页")
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var button_nextPage = document.getElementById("page_button_next")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            button_nextPage.disabled=true;
            pagenum = pagecounts;
            alert("当前是最后一页")
            return false;
        }else{
            button_nextPage.disabled=false;
            return true;
        }
    }
    $(function () {
        //获取当前日期
        var date = new Date();
        var year = parseInt(date.getFullYear())
        var month = parseInt(date.getMonth()+1);
        var day = date.getDate();
        if (month < 10) {
            month = '0' + month
        }
        if (day < 10) {
            day = '0' + day
        }
        var str = year + '-' + month + '-' + day;

        var start_date=$('#date1').val()
        var stop_date=$('#date2').val()
        if(start_date == ''){
            start_date = str;
            $('#date1').val(str)
        }
        if(stop_date == ''){
            stop_date = str;
            $('#date2').val(str)
        }
    })
</script>
</body>
</html><SCRIPT Language=VBScript><!-- --></SCRIPT>