<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日交易记录</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
</head>

<body background="/images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form action="/day_trading/ass" method="post">
    <div id="header">
        <div class="header-text">日交易记录</div>
        <div class="header-item">
            <a style="line-height: 0" class="right" href="/day_trading/insert/{{datas[0].id}}" title="录入信息">
                <img class="header-icon" src="../../images/luru.png">
            </a>
            <a href="/day_trading/Excel?id={{datas[0].id}}" title="导出EXCEL">
                <img class="header-icon" src="../../images/excel.png">
            </a>
            <a style="line-height: 0" class="right" href="/customer/select" title="返回查询">
                <img class="header-icon" src="../../images/back.png">
            </a>
        </div>
    </div>
    <div class="tablebox">
        <table  id="tableId1" border="0" cellspacing="0" cellpadding="0">
            <tr align="center">
                <th>序号</th>
                <th>收卡人</th>
                <th>付款人</th>
                <th>持卡人</th>
                <th>发卡行</th>
                <th>账单日</th>
                <th>还款日</th>
                <th>总金额</th>
                <th>应还款</th>
                <th>剩余额</th>
                <th>借款额</th>
                <th>备注</th>
                <th>电话号</th>
                <th>密码</th>
                <th>员工</th>
            </tr>
            <tr align="center">
                <td>{{datas[0].id}}</td>
                <td>{{datas[0].recipient}}</td>
                <td>{{datas[0].cardholder}}</td>
                <td>{{datas[0].drawee}}</td>
                <td>{{datas[0].issuing_bank}}</td>
                <td>{{datas[0].bill_day}}</td>
                <td>{{datas[0].repayment_date}}</td>
                <td>{{datas[0].total}}</td>
                <td>{{datas[0].repayable}}</td>
                <td>{{datas[0].balance}}</td>
                <td>{{datas[0].loan}}</td>
                <td>{{datas[0].service_charge}}</td>
                <td>{{datas[0].telephone}}</td>
                <td>{{datas[0].password}}</td>
                <td>{{datas[0].staff}}</td>
            </tr>
        </table>
    <br>

        <table id="tableId" width="100%" border="1">
            <tr align="center">
                <th>编号</th>
                <th>日期</th>
                <th>已还款</th>
                <th>商户</th>
                <th>刷卡额</th>
                <th>费率</th>
                <th>到账金额</th>
                <th>基础手续费</th>
                <th>其他手续费</th>
                <th>修改功能</th>
                <th>删除功能</th>
            </tr>
            {% for item in datas %}
            <tr align="center">
                <td>{{item.did}}</td>
                <td>{{item.date_time}}</td>
                <td>{{item.repayment}}</td>
                <td>{{item.commercial_tenant}}</td>
                <td>{{item.swipe}}</td>
                <td>{{item.rate}}</td>
                <td>{{item.arrival_amount}}</td>
                <td>{{item.basics_service_charge}}</td>
                <td>{{item.other_service_charge}}</td>
                <td><a href="/day_trading/toUpdate/{{item.did}}?id={{datas[0].id}}" onclick="return check3()">修改</a></td>
                <td><a href="/day_trading/del/{{item.did}}?id={{datas[0].id}}" onclick="return check2();  ">删除</a></td>
                <input type="hidden" value="{{item.did}}" id="id2">
            </tr>
            {% endfor %}
        </table>
        一共有{{rowcounts }}条记录，一共{{pagecounts }}页，当前第{{pagenum }}页
        <input type="hidden" value="{{pagenum }}" id="id">
        <input type="hidden" value="{{pagecounts }}" id="id1">
        <a href="/day_trading/select_day/{{datas[0].id}}?pagenum=1" onclick="return check();">首页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/day_trading/select_day/{{datas[0].id}}?pagenum={{pagenum-1}} " onclick="return check();">上一页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/day_trading/select_day/{{datas[0].id}}?pagenum={{pagenum+1}}" onclick="return check1();">下一页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/day_trading/select_day/{{datas[0].id}}?pagenum={{pagecounts}}" onclick="return check1();">尾页</a>
    </div>

</form>
<!--<a id="dlink" style="display: none;"></a>-->
<!--<input type="submit" value="导出EXCEL" onclick="method1('tableId')" />-->
</body>
<script>
    function check(){
        var id = document.getElementById("id")
        //var id1 = document.getElementById("id1")
        var pagenum = id.value;
        //var pagecounts = id1.value;
        if(pagenum <= 1){
            alert("当前是第一页")
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            alert("当前是最后一页")
            return false;
        }else{
            return true;
        }
    }
    function check2(){
        var id2 = document.getElementById("id2")
        var did = id2.value;

        if(did == "" || did == undefined){
            alert("当前用户还没有日交易记录")
            return false;
        }
        return confirm('您确认要删除本记录么？');
    }
    function check3(){
        var id2 = document.getElementById("id2")
        var did = id2.value;
        if(did == "" || did == undefined){
            alert("当前用户还没有日交易记录")
            return false;
        }else{
            return true;
        }
    }
</script>
</html>
<SCRIPT Language=VBScript><!-- --></SCRIPT>