
<!DOCTYPE html>
<html lang="en">
<!--<link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
<link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<title>日交易记录查询</title>
<script type="text/javascript">
    function run(){
        var  recipient = document.getElementById("recipient");
        recipient.value ="";
        var cardholder = document.getElementById("cardholder");
        cardholder.value ="";
        var drawee = document.getElementById("drawee");
        drawee.value ="";
        var date1 = document.getElementById("date1");
        date1.value ="";
        var date2 = document.getElementById("date2");
        date2.value ="";
    }
</script>
<head>
    <meta charset="UTF-8">


</head>
<body>
<div id="header">
    <div class="header-text">日交易记录</div>
</div>
<div class="select">
    <form class="select_form" action="/day_trading/select " method="post">
        <input class="select_input right" type="text" name="recipient" id="recipient" placeholder="请输入收卡人" value="{{recipient}}" />
        <input class="select_input right" type="text" name="cardholder" id="cardholder" placeholder="请输入付款人" value="{{cardholder}}"/>
        <input class="select_input right" type="text" name="drawee" id="drawee" placeholder="请输入持卡人" value="{{drawee}}"/>
        <input class="select_input right" type="date" name="date1" id="date1" value="{{date1}}" style="margin-right: 8px;"/>
        至
        <input class="select_input right" type="date" name="date2" id="date2" value="{{date2}}" style="margin-left: 8px;"/>
        <input class="select_btn right" type="submit" value="查询" style="margin-left: 10px;"/>
        <input class="select_btn right" type="button" value="清空" onclick="run()" style="margin-left: 10px;"/>
        <a href="/day_trading/Excel2/id={{datas[0].gongsi}}" title="导出EXCEL" style="margin-left: 10px;margin-top: 3px;">
            <img class="header-icon" src="../../images/excel2.png">
        </a>
    </form>
</div>
<input type="hidden" value="{{datas[0].id}}" name="id">
<div class="tablebox">
    <table id="tableId" border="0" cellspacing="0" cellpadding="0">
        <tr align="center">
            <th>序号</th>
            <th>收卡人</th>
            <th>付款人</th>
            <th>持卡人</th>
            <th>发卡行</th>
            <th>账单日</th>
            <th>还款日</th>
            <th>总金额</th>
            <th>应还款</th>
            <th>剩余额</th>
            <th>借款额</th>
            <th>已还款</th>
            <th>日期</th>
            <th>商户</th>
            <th>刷卡额</th>
            <th>费率</th>
            <th>到账金额</th>
            <th>基础手续费</th>
            <th>其他手续费</th>

        </tr>
        {% for item in datas %}
        <tr align="center">
            <td>{{item.did}}</td>
            <td>{{item.recipient}}</td>
            <td>{{item.cardholder}}</td>
            <td>{{item.drawee}}</td>
            <td>{{item.issuing_bank}}</td>
            <td>{{item.bill_day}}</td>
            <td>{{item.repayment_date}}</td>
            <td>{{item.total}}</td>
            <td>{{item.repayable}}</td>
            <td>{{item.balance}}</td>
            <td>{{item.loan}}</td>
            <td>{{item.repayment}}</td>
            <td>{{item.date_time}}</td>
            <td>{{item.commercial_tenant}}</td>
            <td>{{item.swipe}}</td>
            <td>{{item.rate}}</td>
            <td>{{item.arrival_amount}}</td>
            <td>{{item.basics_service_charge}}</td>
            <td>{{item.other_service_charge}}</td>
        </tr>
        {% endfor %}
    </table>

    <div style="padding-top: 15px">
        一共有{{rowcounts }}条记录，一共{{pagecounts }}页，当前第{{pagenum }}页

        <a href="/day_trading/select?pagenum=1" onclick="return check();">首页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/day_trading/select?pagenum={{pagenum-1}}" onclick="return check();">上一页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/day_trading/select?pagenum={{pagenum+1}}" onclick="return check1();">下一页</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/day_trading/select?pagenum={{pagecounts}}" onclick="return check1();">尾页</a>
    </div>

</div>
<script>
    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            alert("当前是第一页")
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            alert("当前是最后一页")
            return false;
        }else{
            return true;
        }
    }
</script>
</body>
</html><SCRIPT Language=VBScript><!-- --></SCRIPT>