<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script>
        function submitForm(){
            var formData = $('#formData').serialize();
            var params = JSON.parse(formToJson(decodeURIComponent(formData, true)))
            params.p_file = p_file
            $("#checkFormCheckBox").attr('checked', checkForm(params));
            if(checkForm(params)) {
                alert("保存成功！");
            }
        }

        function checkForm(params){
            if(params.type==""){
                alert("商品类别不能为空")
                return false
            }else if(params.product_name == ""){
                alert("商品名称不能为空")
                return false
            }else if(params.unit == ""){
                alert("单位不能为空")
                return false
            }else if(params.price == ""){
                alert("单价不能为空")
                return false
            }else if(params.chengben == ""){
                alert("成本不能为空")
                return false
            }else if(params.tingyong == ""){
                alert("是否停用不能为空")
                return false
            }
            return true
        }

        function formToJson(data) {
            data = data.replace(/&/g, "\",\"").replace(/=/g, "\":\"").replace(/\+/g, " ").replace(/[\r\n]/g, "<br>");
            data = "{\"" + data + "\"}";
            return data;
        }
    </script>
</head>

<style>
    .tablebox table th, .tablebox table td {
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        background-color: rgba(8, 46, 84, 0.5);
        padding: 12px;
        /* color: white; */
        background-color: #fff;
    }
</style>

<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form action="/product/add" id="formData" onsubmit="submitForm()" method="post" align="center">
    <div id="header">
        <div class="header-text">新增商品</div>
<!--        <div class="header-item">-->
<!--            <a style="line-height: 0" class="right" href="/product/select" title="返回查询">-->
<!--                <img class="header-icon" src="../../images/back.png">-->
<!--            </a>-->
<!--        </div>-->
    </div>
    <div class="toback">
        <a href="/product/select" title="返回查询">
            <p><&nbsp返回上一级</p>
        </a>
    </div>
    <div class="tablebox" >
        <table id="tableId" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td><p>商&nbsp品&nbsp编&nbsp码</p></td>
                <td>
                    <input class="form_input" name="product_bianhao" value="{{product_bianhao}}" />
                </td>
                <td><p>商&nbsp品&nbsp类&nbsp别</p></td>
                <td>
                    <select class="form_input" name="type" value="{{type}}">
                        <option value="饮料">饮料</option>
                        <option value="糕点">糕点</option>
                        <option value="油炸">油炸</option>
                        <option value="零食">零食</option>
                    </select>
                </td>
            </tr>
            <tr>

                <td><p>商&nbsp品&nbsp名&nbsp称</p></td>
                <td>
                    <input class="form_input" name="product_name" value="{{product_name}}" />
                </td>
                <td><p>单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp位</p></td>
                <td>
                    <input class="form_input" name="unit" value="{{unit}}" />
                </td>
            </tr>
            <tr>

                <td><p>单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp价</p></td>
                <td>
                    <input class="form_input" name="price" value="{{price}}" />
                </td>
                <td><p>成&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp本</p></td>
                <td>
                    <input class="form_input" name="chengben" value="{{chengben}}" />
                </td>
            </tr>
            <tr>

                <td><p>商&nbsp品&nbsp规&nbsp格</p></td>
                <td>
                    <input class="form_input" name="specifications" value="{{specifications}}" >
                </td>
                <td><p>保&nbsp存&nbsp方&nbsp式</p></td>
                <td>
                    <input class="form_input" name="practice" value="{{practice}}" >
                </td>
            </tr>

            <tr>
                <td><p>商&nbsp品&nbsp详&nbsp情</p></td>
                <td colspan="3">
                    <textarea class="form_textarea" name="xiangqing" style="width: 90%; height: 80px; padding: 8px; border: 1px solid #ddd; border-radius: 4px; resize: vertical;" placeholder="请输入商品详情">{{xiangqing}}</textarea>
                </td>
            </tr>


            <tr>

                <td><p>是&nbsp否&nbsp停&nbsp用</p></td>
                <td>
                    <select class="form_select" name="tingyong" value="{{tingyong}}" >
                        <option value="是">是</option>
                        <option value="否" selected="selected">否</option>
                    </select>
                </td>
                <td><p>图&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp片</p></td>
                <td colspan="2">
                    <img id="image" style="width: 100px;height: 100px;" src="{{p_file}}">
                </td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td colspan="4" align="right">
                    <input class="form_btn" type="submit" value="保存"  />
                </td>
            </tr>
        </table>
        {{msg}}
    </div>
    <input id="checkFormCheckBox" name="checkForm" type="checkbox" checked="" style="display: none"/>
    <input type="file" id="file" hidden="hidden">
    <input id="p_file" class="form_input" name="p_file" hidden="hidden">
</form>
</body>
<script>
    var p_file

    $("#image").click(function () {
        $('#file').trigger('click');
    })
    $('#file').change(function () {
        var file = document.getElementById("file").files;
        var oFReader = new FileReader();
        var this_file = file[0];
        var fileName = file[0].name;
        var obj = [];
        oFReader.readAsDataURL(this_file);
        oFReader.onloadend = function (oFRevent) {
            p_file = oFRevent.target.result;
            console.log(p_file)
            $('#image').attr('src',p_file)
            $('#p_file').val(p_file)
        };
    });
</script>
<SCRIPT Language=VBScript></script>
</html>