<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" href="../../stylesheets/select.css"/>-->
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>

    <title>统计信息查询</title>
<script type="text/javascript">
    function run(){
        var date1 = document.getElementById("date1");
        date1.value ="";
        var date2 = document.getElementById("date2");
        date2.value ="";
    }
</script>
</head>
<div id="header">
    <div class="header-text">统计信息查询</div>
</div>

<div class="select">
    <form class="select_form" action="/statistics/ass " method="post">
        <input class="select_input right" type="date" id="date1" name="date1" value="{{date1}}" style="margin-right: 8px;"/>
            <P>至</P>
        <input class="select_input right" type="date" id="date2" name="date2" value="{{date2}}" style="margin-left: 8px;"/>
        <input class="select_btn" type="submit" value="查询" style="margin-left: 10px;"/>
        <input class="select_btn" type="button" value="清空" onclick="run()" style="margin-left: 10px;"/>
        <div class="header-item">
            <a href="/statistics/Excel"><img class="header-icon" src="../../images/excel2.png" title="导出到excel"/></a>
        </div>
    </form>
</div>
<div class="tablebox" >
    <table  id="tableId" border="0" cellspacing="0" cellpadding="0">
        <tr align="center">
            <th>日期</th>
            <th>交易额</th>
            <th>已刷额</th>
            <!--<th>未刷额</th>-->
            <th>手续费</th>
            <!-- <th>本金</th>-->
            <!-- <th>备注</th>-->
            <!--<th>总补</th>-->
            <th>利润</th>


        </tr>
        {% for item in datas %}
        <tr align="center">

            <td>{{item.date_time}}</td>
            <td>{{item.repayment}}</td>
            <td>{{item.swipe}}</td>
            <td>{{item.the_total_fee}}</td>
            <td>{{item.profit}}</td>

            <!--            <td>{{item.remark}}</td>
                        <td>{{item.principal}}</td>
                        <td>{{item.remark}}</td>-->
        </tr>
        {% endfor %}
    </table>
    <div id="member-paging" class="ui-jqgrid-pager" dir="ltr">
        <div id="pg_member-paging" class="ui-pager-control" role="group">
            <div id="member-paging_left">
                <div class="paging_left">

                </div>
            </div>
            <div id="member-paging_center">
                <a class="page_button" href="/statistics/ass?pagenum=1" onclick="return check();">◀◀</a>
                <a class="page_button" href="/statistics/ass?pagenum={{pagenum-1}}" onclick="return check();">◀</a>
                <input id="id" class="ui-pg-input form-control" type="text" size="2" maxlength="7" value={{pagenum }} role="textbox">
                共 {{pagecounts }} 页
                <a class="page_button" href="/statistics/ass?pagenum={{pagenum+1}}" onclick="return check1();">▶</a>
                <a class="page_button" href="/statistics/ass?pagenum={{pagecounts}}" onclick="return check1();">▶▶</a>
            </div>
            <div id="member-paging_right">
                <div dir="ltr" style="text-align:right" class="ui-paging-info">
                    共{{rowcounts }}条数据
                </div>
            </div>
        </div>
    </div>


</div>
<!--<a id="dlink" style="display: none;"></a>-->

<!--<input type="submit" value="导出EXCEL" onclick="method1('tableId')" />-->
</body>
<script>
    function check(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum <= 1){
            return false;
        }else{
            return true;
        }
    }
    function check1(){
        var id = document.getElementById("id")
        var id1 = document.getElementById("id1")
        var pagenum = id.value;
        var pagecounts = id1.value;
        if(pagenum >= pagecounts){
            return false;
        }else{
            return true;
        }
    }
</script>
</html><SCRIPT Language=VBScript><</SCRIPT>