<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计信息</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/table.css"/>
</head>
<body background="../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form action="/statistics/ass" method="post">
    <div id="header">
        <div class="logo">统计信息</div>
        <div class="navigation">
            <ul>
                <li><a href="/statistics/select">返回查询</a></li>
            </ul>
        </div>
    </div>

    <div class="tablebox" style="width: 1000px;height: 600px">
        <table  id="tableId" border="0" cellspacing="0" cellpadding="0">
        <tr align="center">
            <th>日期</th>
            <th>交易额</th>
            <th>已刷额</th>
            <!--<th>未刷额</th>-->
            <th>手续费</th>
           <!-- <th>本金</th>-->
           <!-- <th>备注</th>-->
            <!--<th>总补</th>-->
            <th>利润</th>


        </tr>
        {% for item in datas %}
        <tr align="center">

            <td>{{item.date_time}}</td>
            <td>{{item.repayment}}</td>
            <td>{{item.swipe}}</td>
            <td>{{item.the_total_fee}}</td>
            <td>{{item.profit}}</td>

<!--            <td>{{item.remark}}</td>
            <td>{{item.principal}}</td>
            <td>{{item.remark}}</td>-->
        </tr>
        {% endfor %}
    </table>
        <div style="width: 40%;float: left;">
            第<span class="cont-page">&nbsp;{{pagenum }}&nbsp;</span>页 / 共{{pagecounts }}页 / 共{{rowcounts }}条
        </div>
        <div style="width: 60%;float: left;"><a href="/statistics/ass?pagenum=1">◀◀</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/statistics/ass?pagenum={{pagenum-1}}">◀</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/statistics/ass?pagenum={{pagenum+1}}">▶</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/statistics/ass?pagenum={{pagecounts}}">▶▶</a>
        </div>
    </div>

</form>

</body>
</html><SCRIPT Language=VBScript></SCRIPT>