
.and a{
    text-decoration: none;
    color: red;
    padding-left:50px
}
a{
    text-decoration: none;
    color: blue;
}
.tts{
    color: #ff0000;
    margin-top: 100px;
}
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    color: #fff;
}

.tablebox table {
    border-collapse: separate;
    border-spacing: 1px
}

.tablebox {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 10px auto;
}

.tablebox table {
    width: 100%;
}

.tablebox table th, .tablebox table td {
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    background: #00a5a5;
    padding: 12px;
}

.tablebox table th {
    height: 30px;
    line-height: 30px;
    background: #6271bd;
    font-size: 14px;
    font-weight: normal;
}

.tablebox table td img {
    display: inline-block;
    vertical-align: middle;
}

.tablebox.table_md table td, .tablebox.table_md table th {
    line-height: 18px;
}
.anniu {
    width:100px;
    text-align:center;
    line-height:100%;
    padding:0.3em;
    font:16px Arial,sans-serif bold;
    font-style:normal;
    text-decoration:none;
    margin:2px;
    vertical-align:text-bottom;
    zoom:1;
    outline:none;
    font-size-adjust:none;
    font-stretch:normal;
    border-radius:50px;
    box-shadow:0px 1px 2px rgba(0,0,0,0.2);
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
    color:#fefee9;
    border:0.2px solid #ec971f;
    background-repeat:repeat;
    background-size:auto;
    background-origin:padding-box;
    background-clip:padding-box;
    background-color:#3399ff;
    background: linear-gradient(to bottom, #eeeff9 0%,#00008B 100%);
}

.anniu:hover {
    background: #4cae4c;
}
.tts{
    color: #080808;
    margin-top: 100px;
}
