
#header{
    height:50px;
    line-height:80px;
    width:100%;
    /*display: flex;*/
    /*align-items: center;*/
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{line-height:80px;font-size:30px;color:#000000;font-family: "STXingkai"; letter-spacing:3px;margin-left:50px;float:left;}
.navigation{float:right;margin:5px 50px 0 0;color:#fff;font-size:14px;}
.navigation ul li{height:30px;line-height:30px;text-align:center;float:left;margin-left:15px;list-style:none}
.navigation ul li a{color:blue;font-size: 20px;font-family: "FZShuTi"}
.navigation ul li a:hover{color:#007DDB;}

.and a{
    text-decoration: none;
    color: red;
    padding-left:50px
}

a{
    text-decoration: none;
}
a:hover{
    background: #f0f2f5;
}
.tts{
    color: #ff0000;
    margin-top: 100px;
}
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #d9d9d9;
    border-left: none;
    border-right: none;
}

.tablebox table {
    border-collapse: separate;
    border-spacing: 1px

}

.tablebox {
    width: 100%;
    height: 530px;
    margin-top:10px ;
    overflow-x: scroll;
}

.tablebox table {
    width: 1450px;

}

.tablebox table th {
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    background: #ffffff;
    padding: 3px;

}

.tablebox table td {
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    background: #ffffff;
    padding: 12px;

}

.tablebox table th {
    height: 30px;
    line-height: 30px;
    background: url("../images/title.png");
    font-size: 14px;
    font-weight: bold;
    color:#3872f6;

}

.tablebox table td img {
    display: inline-block;
    vertical-align: middle;
}

.tablebox.table_md table td, .tablebox.table_md table th {
    line-height: 18px;

}


.tts{
    color: #080808;
    margin-top: 100px;
}

.upd-form-btn{
    line-height: 32px;
    width: 100%;
    height: 32px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgba(40, 37, 56,0.8);
    color: #fff;
    outline:none;
    transition: .3s;
}
.upd-form-btn:hover{
    background-color: #00a5a5;
}

.upd-form-btn:active{
    line-height: 32px;
    width: 100%;
    height: 32px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #393D49;
    color: #fff;
    outline:none;
}

.header-text{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 46px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
.toback{
    display: flex;
    justify-content: flex-start;
    align-items: start;
}
.toback a{
    box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.5);
    width: 30px;
    height: 30px;
}
#tableId{
    width: 100%;
    background-image: linear-gradient(to bottom right,#295396,whitesmoke);
    background-color: rgba(8, 46, 84, 0.4);
}
.toback .img-err{
    transform: translateY(-55%);
}
.toback a .toback_btn{
    width: 30px;
    height: 30px;
    transition: .3s;
    /*background-color: #00a5a5;*/

}
.toback a .toback_btn:hover{
    background-color: #00a5a5;
}
.save_btn:hover{
    background-color: #00a5a5;
}
.header-icon{
    width: 25px;
    /*border: 1px solid #000;*/

}
.header-item{
    line-height: 0;
    margin: 10px 5px 2px 0px;
}
.select{
    padding-top: 10px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    padding-bottom: 10px;
    background-color: #FFFFFF;
}

.select_form{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.select_input{
    width: 120px;
    height: 30px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    outline: none;
    padding-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}
.select_btn{
    cursor: pointer;
    font-size: 14px;
    border: 0px solid #c6e2ff;
    width: 82px;
    height: 33px;
    border-radius: 3px;
    /*margin-left: 20px;*/
    background-color: #409eff;
    color: #fff;
    outline: none;
    margin-right: 10px;
    margin-top: 8px;
    transition: .3s;
}

.select_btn:hover{
    background-color: #77aa77;
}

.select_btn:active{
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #c6e2ff;
    width: 82px;
    height: 33px;
    border-radius: 3px;
    background-color: #3a8ee6;
    color: #fff;
    outline: none;
}
.right{
    margin-left: 3px;
}
.btn_err{
    margin-top: 1px;
}
#formData .tablebox #tableId tr td p{
    font-size: 17px;
    font-weight: 600;
}

.tablebox .form_input{
    width: 180px;
    height: 26px;
    outline: none;
    border: 1px solid rgb(161, 158, 158);
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;
    padding-left: 10px;
}
.tablebox .form_input:focus{
    border: 1px solid rgb(0, 165, 165);
    border-top: none;
    border-left: none;
    border-right: none;
}
.form_select{
    width: 180px;
    height: 24px;
    outline: none;
    /*border: 1px solid #f2f2f2;*/
    border-radius: 3px;
    padding-left: 10px;
}
.form_btn{
    width: 110px;
    height: 35px;
    outline: none;
    cursor: pointer;
    border: 1px solid #00a5a5;
    border-radius: 4px;
    font-weight: bold;
    transition: .3s;
}
.form_btn:hover{
    border: 1px solid #f6f6f6;
    background-color: #00a5a5;
}
.page_button{
    text-decoration: none;
    background: url(../images/main_menu_button.png) no-repeat left center;
    padding: 5px 0 5px 3px;
    margin-right: 10px;
    width: 20px;
    text-align: center;
    color: black;
}
.xiugai:before{
    content: "\f044";
}
.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.look{
    background-color: #00a65a !important;
}
.upd{
    background-color: #34A8FF !important;
}
.del{
    background-color: #dd4b39 !important;
}

.look:before {
    content: url(../images/look.png);
}

.upd:before {
    content: url(../images/upd.png);
}

.del:before {
    content: url(../images/del.png);
}



.label a{
    color: white;
}
a:hover{
    color: black
}

.cont-page{
    background-color:#e37373;
    border-radius: 50%;
    color: white;
}
/*.page_info .cont-page-btn a{*/
/*    color: black;*/
/*    border: 1px solid #6d747a;*/
/*    background-color: #6d747a;*/
/*}*/