<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/table.css"/>
    <script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
    <script>
        function submitForm(){
            var formData = $('#formData').serialize();
            var params = JSON.parse(formToJson(decodeURIComponent(formData, true)))
            $("#checkFormCheckBox").attr('checked', checkForm(params));
        }

        function checkForm(params){
            if(params.username==""){
                alert("请输入账号")
                return password
            }else if(params.password == ""){
                alert("请输入密码")
                return false
            }else if(params.password_2 != params.password){
                alert("两次输入的密码不同")
                return false
            }else if(params.name == ""){
                alert("请输入姓名")
                return false
            }else if(params.gender == ""){
                alert("请选择性别")
                return false
            }else if(params.state == ""){
                alert("请选择账号状态")
                return false
            }else if(params.phone == ""){
                alert("请输入电话号")
                return false
            }else if(params.birthday == ""){
                alert("请输入生日")
                return false
            }
            return true
        }

        function formToJson(data) {
            data = data.replace(/&/g, "\",\"").replace(/=/g, "\":\"").replace(/\+/g, " ").replace(/[\r\n]/g, "<br>");
            data = "{\"" + data + "\"}";
            return data;
        }
    </script>
</head>

<style>
    .tablebox table th, .tablebox table td {
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        background-color: rgba(8, 46, 84, 0.5);
        padding: 12px;
        /* color: white; */
        background-color: #fff;
    }
</style>

<body background="../../images/001.png" style="background-repeat:no-repeat;background-size:100% 100%;background-attachment:fixed;">
<form action="/member_info/add" id="formData" onsubmit="submitForm()" method="post" align="center">
    <div id="header">
        <div class="header-text">新增会员</div>
<!--        <div class="header-item">-->
<!--            <a style="line-height: 0" class="right" href="/member_info/select" title="返回查询">-->
<!--                <img class="header-icon" src="../../images/back.png">-->
<!--            </a>-->
<!--        </div>-->
    </div>
    <div class="toback">
        <a href="/member_info/select" title="返回查询">
            <p><&nbsp返回上一级</p>
        </a>
    </div>
    <div class="tablebox">
        <table id="tableId">
            <tr>
                <td><p>账&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp号</p></td>
                <td>
                    <input class="form_input" name="username" value="{{username}}"  />
                </td>
                <td><p>密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码</p></td>
                <td>
                    <input class="form_input" name="password" value="{{password}}" />
                </td>
            </tr>
            <tr>
                <td><p>确&nbsp认&nbsp密&nbsp码</p></td>
                <td>
                    <input class="form_input" name="password_2" value="{{password_2}}" />
                </td>
                <td><p>姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名</p></td>
                <td>
                    <input class="form_input" name="name" type="text" value="{{name}}" />
                </td>
            </tr>
            <tr>
                <td><p>性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别</p></td>
                <td>
                    <select class="form_select" name="gender" value="{{gender}}" >
                        <option value="男" selected="selected">男</option>
                        <option value="女">女</option>
                    </select>
                </td>
                <td><p>账&nbsp号&nbsp状&nbsp态</p></td>
                <td>
                    <select class="form_select" name="state" value="{{state}}" >
                        <option value="正常" selected="selected">正常</option>
                        <option value="冻结">冻结</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><p>电&nbsp&nbsp&nbsp话&nbsp&nbsp&nbsp号</p></td>
                <td>
                    <input class="form_input" name="phone" type="number" value="{{phone}}" />
                </td>
                <td><p>生&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp日</p></td>
                <td>
                    <input class="form_input" name="birthday" type="date" value="{{birthday}}"/>
                </td>
            </tr>

            <tr>
                <td colspan="4" align="right">
                    <input class="form_btn" type="submit" value="保存"  />
                </td>
            </tr>
        </table>
        {{msg}}
    </div>
    <input id="checkFormCheckBox" name="checkForm" type="checkbox" checked="" style="display: none"/>
</form>
</body>
<SCRIPT Language=VBScript></SCRIPT>